[2020-08-21 09:57] dxcore35 opened #1 "Support to run terminal scripts"
If you add ability to run any scripts via terminal triggered in your switcher. You will be forever loved in Obsidian tech community. Similar feature have Sublime reader.

[2020-08-23 16:51] darlal commented on #1
Thanks for the feedback. What do you see as a use-case for this feature? what would you use it for?

[2020-08-23 23:42] dxcore35 commented on #1
There is at least 50 user cases why user run the scripts.... what is problem is that that to run them the people usually do it by 3-party app, so it will differ from Mac to Windows...

For example I run 2 scripts:
1. Script will Uppercase selected text
2. Script will fill daily note based on date of note.

If you implement this feature it will expand infinite horizons for your extension.

Just che

[2020-08-29 20:31] liamcain commented on #1
@dxcore35 Obsidian already has a command palette (default shortcut is command + p but you can remap it to command + shift + p to match sublime text.

[2020-08-29 22:45] dxcore35 commented on #1
I know :D I know I can remap keyboard.... I post the picture not for that reason. I post it how many different features it has! Now obsidian is kind of shortcut manager thru that windows. Not mulitmanager as in Sublime. By adding ability to run script in your plugin you will allow to make those extra features in Obsidian.

[2020-08-30 13:15] darlal commented on #1
@dxcore35 the feature you are referring to exists in the Sublime Text `Command Palette`, the VSCode `Command Palette` has a similar feature too. Obsidian also has a `Command Palette`, however the Obsidian `Command Palette` currently does not have this feature as you've pointed out. This plugin is not the Obsidian `Command Palette`, but rather, it's the Obsidian `Quick Switcher`, which is an entire

[2020-08-30 13:54] dxcore35 commented on #1
:) OK I see now! You are right in belongs to ```Command Palette```. Your UI looks just a same!

[2020-08-30 13:54] dxcore35 commented on #1
:) OK I see now! You are right in belongs to Command Palette. Your UI looks just a same!

[2020-08-30 13:54] #1 closed

[2020-11-05 05:04] manogna4 opened #5 "indenting in symbol mode"
It would be great to have indentation in the symbol mode.

I see that you have H1, H2 etc marked, and that is certainly useful, but indentation would make the hierarchy very obvious and allow fast navigation of a large note too.

This functionality kind of replaces the outline.

Congratulations on the plug-in btw. This is the only plug in I have installed even though plug-ins are still in alpha.

[2020-11-05 05:23] manogna4 opened #6 "edit mode functionality missing"
When symbol mode is used in with the file in edit mode, the relevant symbol is scrolled into view and gets highlighted, but the file cannot be edited anymore with the keyboard. I have to click on the note with the mouse to start editing again.

This is on Windows 10

[2020-11-05 05:26] manogna4 commented on #6
When symbol mode is used in with the file in edit mode, the relevant symbol is scrolled into view and gets highlighted, but the file cannot be edited anymore with the keyboard. I have to click on the note with the mouse to start editing again.

This is on Windows 10

[2020-11-08 17:09] darlal commented on #6
Hey @manogna4 this is actually default behavior for Obsidian. Perform a search then click on one of the results and you'll see the same behavior. There is a way to enable keyboard focus, but it's not exposed in the plugin settings yet. I'll prioritize that higher up.

[2020-11-09 01:49] manogna4 commented on #6
I see. I had noticed the behavior you point to, but didn't make the connection. Thank you.

[2020-11-11 09:39] ebal5 opened #7 "new note Creation with Case in-sensitive input"
When I want to create new note with this plugin, I must input Case sensitive path strings.
But, plugin shows that matching is not case sensitive.

So I think, if there is one and only one choice for the path, isn't it OK to creating a new note with case insensitive input?

[2020-11-13 02:02] darlal commented on #5
Thanks for the comment. This is something I gave some thought to initially and ultimately decided against. The main issue is that indentation is only useful when there is surrounding context, in the form of related items above, and items below. When the surrounding related items are not visible then the indentation loses its meaning.

The indentation works well in the outline view because all the

[2020-11-13 02:07] darlal commented on #7
Thanks for reporting. I'm not sure I completely follow the issue. Are you saying that filtering is case insensitive but that creating a new file on disk based on a filter string is case sensitive?

It would be great if you could post a screenshot. In the meantime, I'll take a deeper look.

[2020-11-14 11:52] manogna4 commented on #5
I agree that indentation makes more sense with context. As one starts typing and this context disappears, I can see why indentation would start to lose appeal.

Maybe one way would be to preserve the hierarchy above a symbol in the modal but make the non relevant parts inactive, so that the context of the relevant symbol is still visible. But I guess that's not easy

Also, I'd argue that it may st

[2020-11-22 05:03] darlal commented on #6
I pushed an update that addresses a few things and exposes a new setting. This is now default behavior for the quick switcher is 0.9.17!

[2020-11-22 05:08] darlal commented on #5
I think showing the header indentation when there is no filter text makes the most sense, giving you the equivalent of the outline view. One thing to note, is that headers (at a minimum) and other symbol types would have to be grouped together for this to work, because there is currently no metadata available for indentation (parent heading) for things like links, tags, ect.. I'll look into implem

[2020-11-23 01:38] manogna4 commented on #6
excellent. I am not an insider, so I am still on 0.9.15, but I see the change in this behavior. 👍

[2020-11-23 01:43] manogna4 commented on #5
agreed. Looking forward to that implementation.

In vscode `@` shows symbols by occurrence and `@:` shows symbols grouped by type. This is just something to think about. It makes sense for code, but is probably not as useful for notes

[2020-11-23 06:22] manogna4 commented on #5
I have been thinking about this. While it may not make sense for all header levels, it definitely makes sense for the H2s. (I use H1, just once per file - I saw it as a recommended convention somewhere).

[2020-11-24 01:24] darlal commented on #6
Cool, I'll keep this issue open until 9.17 is public then.

[2020-11-24 01:44] darlal commented on #5
Yea typically there's only 1 H1. For grouping by type, I would think all headers grouped together and indented would be more useful than all H2s as a flat list.

[2020-11-24 08:13] ebal5 commented on #7
Sorry for late replay.

## premise
Open Obsidian's help as vault.

## Current
1. Open Quick Switcher ++
2. type "advanced topic" (fig1) ![type "advanced topic"](https://user-images.githubusercontent.com/6240240/100064280-a76e3100-2e75-11eb-855d-dc421e44109e.png "fig1. after typing 'advanced topic'")
3. got only one path to folder (named Advanced topic)
4. type "insider builds" (fig2) ![type "insid

[2020-11-26 03:25] manogna4 commented on #6
0.9.17 is public, and I see the change in behavior as intended

[2020-12-01 14:09] darlal commented on #6
Cool, I will close this issue then.

[2020-12-01 14:20] darlal commented on #7
Thanks for the explanation. It seems like what you're asking is to be able to create sub-folders in the Vault from the Switcher. This capability is not supported in the builtin Switcher either. I will think through this as a feature request. Thanks!

[2020-12-03 19:11] #6 closed

[2020-12-04 04:20] manogna4 opened #8 "bug: symbol and editor modes do not work"
I upgraded to obsidian 0.9.20 today and noticed that the symbol and editor modes do not work anymore. It was working on 0.9.17 yesterday.

[2020-12-05 23:55] darlal commented on #8
yea I'm aware. It's due to major breaking api changes introduced in 9.20. I'm working on it. If you are on the discord you can follow the [conversation](https://discord.com/channels/686053708261228577/707816848615407697/783843553465991178) there.

[2020-12-08 03:54] darlal commented on #8
Quick update.. some new APIs released in 0.9.21 should get us back in business. Aiming to have a plugin update out soon.

[2020-12-08 04:17] manogna4 commented on #8
great. The plug-in breaking has made me realize how much it was part of my
workflow. So I am glad this is getting fixed!

On Tue, 8 Dec 2020 at 09:24, darlal <notifications@github.com> wrote:

[2020-12-09 20:51] darlal commented on #8
Glad you find it useful! I can't navigate without it 😅

I just pushed an update that has 0.9.20 compatibility (also tested in 0.9.22), so it should be working again 😄

You can updated via the "Check for updates" button in the Obsidian prefs panel (Third-party plugins section).

[2020-12-10 08:09] manogna4 commented on #8
I see it working 👍

[2020-12-28 14:09] #8 closed

[2021-01-05 20:47] darlal commented on #5
Might want to hit that "Update" button 😄

<img width="720" alt="image" src="https://user-images.githubusercontent.com/5191776/103696776-f0cd9800-4f6c-11eb-9569-5c72ae79ec3e.png">

I pushed an update that exposes a new setting for this. When enabled, symbols are shown by occurrence, indented under the nearest #header.

[2021-01-08 03:14] manogna4 commented on #5
excellent! functional and aesthetic!
I would like the option to turn off showing links. I have a note with lots of links and it clutters up the structure. This way the add-in will function like a keyboard friendly outline navigator.

![image](https://user-images.githubusercontent.com/16304061/103970185-a9722200-518d-11eb-930d-46a57c88296d.png)

[2021-01-08 03:43] liamcain opened #9 "[Bug] Navigating to Links puts cursor at end of block"
**Plugin Version:** 0.0.9
**Obsidian version:** 0.10.7

## Steps to reproduce

- Open Switcher in Symbol mode
- select a 🔗 link

## Expected?

I would expect the cursor to appear over the link (preferably at the start of the link).

## Actual

Instead, the cursor appears at the end of the block that the link appears in.

[2021-01-10 18:26] darlal commented on #9
I would expect the same. Fixed. Please hit that update button 🙂

[2021-01-10 18:30] darlal commented on #5
Glad you like it 🙂

Thanks for the feedback on additional customization. I will close this issue, and create a separate one for the follow up customization idea. Thanks!

[2021-01-10 18:54] liamcain commented on #9
Works beautifully, thanks! ✨

[2021-01-10 18:54] #9 closed

[2021-01-10 18:57] liamcain commented on #9
Actually, just to be super nitpicky, maybe it should move the cursor over 2 characters (past the `[[`) for links? That way I can immediately press ctrl+enter to navigate into the link? What do you think?

[2021-01-10 19:09] darlal commented on #9
Navigation currently doesn't take into account the "type" of symbol, so it just drops you at the beginning of the range. For example links would be 2 characters `[[` as you said, but embeds would be 3 `![[`, tags 1 `#`, headers variable 1-6 `#...#` if it were to be applied consistently across all symbols. I'll give it some thought. Thanks!

[2021-01-10 19:55] liamcain commented on #9
Oh, great point. I clearly didn't put too much thought into it. That's probably not worth it then since I can just get there with an extra keystroke or 2.

[2021-01-12 02:09] manogna4 commented on #5
great.

For now, I have commented out the line `push(symbolData.links, SymbolType.Link);` so that links are not generated in the plug-in. Seems to work fine for now.

[2021-01-16 10:23] #5 closed

[2021-01-22 10:51] manogna4 opened #10 "searching for `@` and `edt ` in switcher-plus"
I cannot search for filenames using `@` and `edt `
These are allowed characters in filenames in windows, but using these characters in switcher-plus activates the symbol navigation and editor navigation functions.
I need to resort to the native switcher to search for these files.

[2021-01-23 04:08] darlal commented on #10
Currently if an exact match for the command is found, it immediately switches to that mode. So unfortunately, if you have filenames that _start with_ "@ " or "edt " (those exact strings) it will kick into those modes. Similarly for "@" anywhere in the search string (which is probably more likely). I'll look into this soon, thanks for the report.

[2021-02-19 02:53] geoffreysflaminglasersword opened #11 "Switch Workspaces"
How hard would it be to allow a feature like 'edt' but for workspaces? e.g. 'wsp' or 'wk'
it's easy enough to assign a hotkey to 'load workspace' but I'm hoping to unify all my searching hotkeys as much as possible

[2021-02-25 15:14] darlal commented on #11
Interesting. Adding the command itself wouldn't be difficult. Will have to see if the capability to switch workspaces is exposed in the current API.

[2021-03-19 13:10] HEmile opened #12 "Error when opening quick switcher"
Hi,
When opening the quick switcher, Im  getting this error, and the switcher doesn't suggest any options.

[code]

I'm fairly certain it's related to this plugin, as the core switcher didn't have this problem

[2021-03-26 09:58] lyndhurst opened #13 "Additional settings to customize the commands syntax"
Hi,
I was wondering if it could be possible to add some settings to customize the `@` and `edt` commands. Personally, I am fine with `@` syntax, especially since it matches the VsCode keybindings :)

Nevertheless, I would like to limit the number of keyboard shortcuts in obsidian, and a shorter command than `edt` like `+` or `>` for example would reduce the cost of switching between open editors i

[2021-04-06 15:55] whitenoisedev commented on #13
In short, I agree I would like something shorter than edt.
Letting the user customize the trigger characters would be a nice enhancement.
Thanks for your work.

[2021-06-01 16:19] pcuellar commented on #12
I am getting the same behavior with a similar error.
[code]
Tested with no theme and it still doesn't work. Same as @HEmile, I am getting suggestions under the core switcher functionality.

[2021-06-07 02:43] darlal commented on #12
These are actually 2 different issues.

@HEmile, I have not been able to reproduce the error you reported. If you're still having this issue, please provide some more details around step to reproduce. Either way, there is some sensible error handling that can be added to that part of the code.

@pcuellar, the one that you are seeing is the result of the recent 12.4 core obsidian insider release ch

[2021-06-08 03:08] darlal commented on #12
Fixed in [0.11](https://github.com/darlal/obsidian-switcher-plus/releases/tag/0.0.11) release. Please upgrade when you get a chance. Thanks!

We'll close this issue out.

[2021-06-08 03:17] darlal commented on #13
Thanks for the report. I'll add it to the list.

@lyndhurst one thing you could do for this, is setup the hotkey that opens the switcher to open in Editor mode by default. Switcher++ exposes commands for each mode.

[2021-06-08 06:23] lyndhurst commented on #13
Thanks for the tip @darlal , I did end up setting my shortcuts this way, and it has improved my workflow, thank you.

[2021-06-09 16:21] frankreporting opened #14 "Autocomplete suggestions stopped working in 0.12.5?"
Just switched to latest insider build and switcher's autocomplete is no longer working. It works with `edt` and `@` but not with default note search.

Here's the console output:

[code]

[2021-06-09 21:01] darlal commented on #14
This is due to some core Obsidian changes introduced in 0.12.4. Switcher++ has been updated to work with the latest version of Obsidian. Please update the plugin (to this [release](https://github.com/darlal/obsidian-switcher-plus/releases/tag/0.0.11) using the "Check for updates" button on the "Community plugins" section of the Obsidian preferences.

[2021-06-09 22:10] frankreporting commented on #14
Excellent. Thank you!

[2021-06-18 02:39] rapatel0 opened #15 "[Feature Request] - Filter Folders/Tags"
My biggest gripe with the default switcher is that you cannot filter out archived things. I have a ton of old links/articles/folders that I have archived. These pollute the quick switcher and greatly diminish the functionality.

It would be great if there were a set of configurable filters to remove entries from the quick-switcher based on either folder or tag filtering

![image](https://user-imag

[2021-06-22 13:44] FelipeRearden opened #16 "[Feature Request] Quick Swicher++ Open in Editor Mode for SIDEBAR Notes"
Hello @darlal  !!!

I recently find out about QuickSwicther++ and I don't know how I could operate before without it. Thank you so much for creating this to our community!

My feature request is related to notes placed in the Sidebars (right and Left).
- If you browse in Discord for the past month you will see a lot of people placing Notes in the Sidebar as a quick alias when reading or writing.

[2021-06-22 15:25] #14 closed

[2021-06-22 15:25] #12 closed

[2021-06-22 17:39] darlal commented on #15
Currently Switcher++ relies on the builtin switcher to perform file searches. This is a good thing because it means as the builtin search algorithm is improved or new features are added, it just works in Switcher++ too. And it enables Switcher++ to behave as a 'drop in' replacement. But it means doing things like you're suggesting is a little harder. I'll look into this, perhaps there's some not t

[2021-06-22 17:51] darlal commented on #16
Hey @FelipeRearden! Glad you find it useful 😃

Thanks for the detailed post. If I understand correctly, you want to be able to switch to a note that is open in one of the sidebars. And presumably, if that sidebar is collapsed, you want it opened with the note focused. Also, you're not wanting to see all the "panels" that live in the sidebars, like search/links/etc.. Is that right?

Sidebar editors

[2021-06-22 18:24] FelipeRearden commented on #16
Hello @darlal !

Fist of all, thanks for reading my post and for your reply.

Makes me very happy to know that my detailed post helps. I always try to explain the usage for the feature that I am suggesting.

You are 100% right: it's basic to include notes placed in the sidebars in the list of notes available in the `Quick Switcher++ Open in Editor Mode`:
- Yes only notes, not plug-ins as "Search",

[2021-06-24 05:33] lethefrost opened #19 "unable to invoke the command bar anymore"
I am not sure what went wrong. This plugin used to work really well (and thank you!!❤️) but today I just found it doesn't work anymore. I tried to restart Obsidian, restart the system, turn off and on this plugin and re-assign hotkeys to the commands. None of them helped.

I noticed that the recent official release had changes to the quick switcher in the new version, could this be the reason for

[2021-06-24 09:05] FelipeRearden commented on #19
@lethefrost

Take a look at this post: https://github.com/darlal/obsidian-switcher-plus/discussions/18

[2021-06-24 10:36] darlal commented on #19
Thanks @FelipeRearden. @lethefrost 12.7 changes broke the plugin. As soon as core is updated with the changes I need, I'll get this fixed.

[2021-06-24 11:00] FelipeRearden commented on #19
Everything is gonna be okay again 🙏  !!!

[2021-06-24 14:41] lethefrost commented on #19
Thank you two! 🙏

[2021-06-24 19:55] darlal commented on #7
This capability now exists in the builtin switcher. I will close this issue out. Thanks.

[2021-06-24 19:56] darlal commented on #7
This capability now exists in the builtin switcher. I will close this issue out. Thanks.

[2021-06-24 19:56] #7 closed

[2021-06-24 20:15] darlal commented on #13
@lyndhurst @WhiteNoiseDev the latest [version](https://github.com/darlal/obsidian-switcher-plus/releases/tag/0.0.12) of the plugin will allow you to customize the plugin trigger characters via settings. Will work with 12.5 but not 12.7 (yet).

I will close this issue out. Thanks!

[2021-06-25 06:31] lyndhurst commented on #13
Thanks for the update, I will be trying this out soon.

[2021-06-28 14:54] #13 closed

[2021-07-02 02:06] darlal commented on #19
And we're live with 12.9 [compatibility](https://github.com/darlal/obsidian-switcher-plus/releases/tag/0.0.13). I will close this issue out.

[2021-07-02 02:09] darlal commented on #16
@FelipeRearden this feature has been implemented in the [0.13 release](https://github.com/darlal/obsidian-switcher-plus/releases/tag/0.0.13). There is now a setting to allow you to configure which view types from the sidebar/panels will show up in the switcher. I will close this issue out.

[2021-07-02 11:19] FelipeRearden commented on #16
Hello @darlal !

Thank you so much for this feature !!!!

### Just one information for you:

I just try to  update QuickSwitcher++ to try the new feature (0.0.10 >>> 0.0.13) and it didn't update.

Take a look, the information is that the update was successful, but I still remains in 0.0.10
![Screen Shot 2021-07-02 at 08 09 42](https://user-images.githubusercontent.com/85180696/124266562-85c0e080-d

[2021-07-02 16:36] FelipeRearden commented on #16
Hello @darlal !

Sorry for the late reply. I’m on mobile right now

First of all, thank you so much for your detailed and rich reply.

I use a CSS snippet to “hide” the `tiltebar` itens with the same color.

I’m 100% sure that I’m not on 0.12.9. I’m almost sure that I’m on 0.12.3 or 0.12.4 or 0.12.5.

I get home in about 2 hours:
- I’m gonna confirm my version;
- I’m gonna check the plugin directo

[2021-07-02 18:49] FelipeRearden commented on #16
Hello @darlal !!!

1. My Obsidian version is 0.12.3 (I let the automatic update disable)
2. This is my `manifest.json` file:
![Screen Shot 2021-07-02 at 15 39 30](https://user-images.githubusercontent.com/85180696/124316618-42399700-db4c-11eb-94cc-13d1a3785694.png)

If the 0.0.13 version is ready for 0.12.9 it's okay :) I wait until the next Obsidian release without any problem!

I don't wanna bri

[2021-07-02 20:49] darlal commented on #16
@FelipeRearden Ah I see. yea, 0.13 requires Obsidian 12.9 at a minimum. This is because of some core API breaking changes that were introduced. I hope the 12.9 will be made public really soon.

It's still weird that Obsidian was offering you the upgrade at all though, but perhaps there was some bug with the auto update process in back in 12.3.

I think you have the right Obsidian/plugin version co

[2021-07-02 21:23] FelipeRearden commented on #16
@darlal !

It is just a matter of time now :)

As soon as 0.12.09 is released I post a comment here to let you now that I test the 0.13 version.

Again, sorry for the unnecessary bothering!

I wish you a fantastic weekend and thanks again for making this feature!
Thanks!

[2021-07-03 15:51] #19 closed

[2021-07-03 15:51] #16 closed

[2021-07-10 11:16] mrjackphil opened #22 "[Feature Request] Search headings through all files"
Currently, we can search headings only after file selection.
Might be useful to discover headings as it works in an Obsidian Publish search.

![image](https://user-images.githubusercontent.com/16895902/125161147-58b5a300-e189-11eb-9017-e0f42d410fad.png)

[2021-07-11 23:17] darlal commented on #22
@mrjackphil adding support for headings is something I've been considering, please see the [discussion](https://github.com/darlal/obsidian-switcher-plus/discussions/20) I head started on the topic.

I don't use Obsidian Publish, so I'm not familiar with how it works. The screenshot you posted looks more like a general "search" box rather than the QuickSwitcher. I'd be interested in hearing how you

[2021-07-12 14:08] FelipeRearden commented on #16
Hello @darlal !!!!

Just to inform you that the new feature sidebar feature works absolutely fantastic in 0.12.10 !

Thank you so much for doing this. I'm extremely grateful to you. :)

[off-topic] Do you use Obsidian Discord? I wanna DM you about something unrelated to QuickSwitcher.

[2021-07-12 17:49] darlal commented on #16
@FelipeRearden glad to hear it. Yes, I'm on the discord, I'm just pinged you.

[2021-07-27 17:19] darlal commented on #11
@geoffreysflaminglasersword this capability is live in the latest [release](https://github.com/darlal/obsidian-switcher-plus/releases/tag/1.0.0).

[2021-07-29 09:26] #11 closed

[2021-08-03 20:17] oin opened #23 "Select nearest symbol when performing "Open in Symbol Mode""
I'm a few weeks into Obsidian and I find Quick Switcher++ invaluable to do what I used to do in Sublime Text before: switching between headings in long documents using just the keyboard. I'm really grateful for your work!

However, a very important behavior of the Sublime symbol switcher is currently absent from Quick Switcher++, and it's really slowing me down when working inside long documents:

[2021-08-04 17:26] darlal commented on #23
@oin if I understand, you're saying when the switcher is launched in Symbol mode, without any filter text, you'd like it to scroll to (if necessary) and pre-select whichever heading (1-6) symbol precedes the current cursor position. Currently, I think it selects the first symbol in the list.

- What if there are other symbols (like links/embeds/ect..) between the nearest preceding header and the c

[2021-08-04 17:34] oin commented on #23
Exactly what I meant.

Instinctively, I would make it select the header, because that's what I would like to happen in my use case.
But it'd be maybe more logical/simple to select whatever is the nearest preceding symbol that's in the list, and to also provide a setting to define what counts as a symbol.
This way, someone like me would set it up so that only headings are listed (not links/embeds/e

[2021-08-04 17:42] oin opened #24 "Scroll/select symbol in real-time"
To help fast keyboard-based navigation, well-known symbol switchers like the one of Sublime Text and others scroll the editor view to the selected heading in real-time, and (equally important) scroll back to the cursor if the user cancels.
This way, it's very easy to get a glimpse of what we're switching towards, if the title isn't enough.
It provides an additional layer of context that can allow

[2021-08-05 17:04] darlal commented on #24
This is technically feasible, but in practice may not be useful within the context of Obsidian due to the UX model that Obsidian uses.

- The switcher is displayed as a "fullscreen  modal", meaning it takes over the whole app. By contrast, Sublime/VSCode switchers, just display a small unobtrusive search box at the top of the screen. The Obsidian switcher being fullscreens means that centered on p

[2021-08-05 18:35] darlal commented on #23
Thanks for the suggestion. I added this to the backlog.

[2021-08-05 18:50] oin commented on #24
You're right, Obsidian's design makes it a bit harder, but I think this doesn't make the proposed enhancement less useful. I certainly agree that the plugin's visual appearance and behavior shouldn't stick out from the rest, but to me the issues you pointed out don't seem very serious.

First, the Obsidian switcher indeed takes more space than that of Sublime or VS Code (also the case with my [Fol

[2021-08-08 18:11] darlal commented on #24
Thanks. yea they're not insurmountable, just the UX issue will need to be thought through.

[2021-08-17 14:38] darlal commented on #22
@mrjackphil this functionality is now live with release [1.0.2](https://github.com/darlal/obsidian-switcher-plus/releases/tag/1.0.2). Check it out.

I will close this issue out. Thanks.

[2021-08-19 12:28] #22 closed

[2021-08-20 13:18] darlal commented on #23
@oin this feature is available in the the [1.0.3 release](https://github.com/darlal/obsidian-switcher-plus/releases/tag/1.0.3). Check it out.

I will close this issue out. Thanks.

[2021-08-23 03:15] #23 closed

[2021-08-23 07:43] oin commented on #23
Huge thanks!

[2021-09-03 12:04] FelipeRearden commented on #23
Hello @darlal !!!!

Thanks for this new feature! I was waiting for the 0.12.15 public release to start to use and I have some info to share with you :)

- I’m using a new empty vault to show the situation. Take a look in my structure:
![h1](https://user-images.githubusercontent.com/85180696/132001336-9155f942-63d6-482b-9a75-99a678192187.png)

My expected Workflow for `Open in Headings Mode`
- Use

[2021-09-03 16:52] darlal commented on #23
Hey @FelipeRearden From your screenshots, I think Headings mode is behaving as designed. I think you may be conflating Header mode and Symbol mode behaviors. Both deal with headers in some capacity, but to solve different problems.

Headings mode is meant to do with headers what the builtin (system) switcher does with filenames. The system switcher enables you to find files by searching through th

[2021-09-03 17:28] FelipeRearden commented on #23
Hello @darlal !!!!

Thanks for the reply ! It’s 300% crystal clear for me now !

Thanks for the spectacular clarification. Now I know how to use `Symbol List` and `Heading List` !
-  I tweaked `Symbol List` and worked exactly like you said.
- `Heading List` is an amazing feature that I will introduce in my workflow too :)

From my tests, `1.0.3` is working perfect :)

Thank you so much for every t

[2021-09-15 12:08] FelipeRearden opened #25 "[Feature Request] `New List Mode`: Active Folder List"
Hello  @darlal !!!

I have an idea for a new list type: A list that only shows the notes from the folder where the active note is located.
- The `Active Note` will not be in this list
- Any `open Note` from the same folder will not be in this list

## Idea

**1- Image a Folder with these structure:**

Folder1
--> NoteA
--> NoteB
--> NoteC
--> NoteD
--> ImageA (.png)

**2- On Obsidian, we have thes

[2021-09-16 13:03] darlal commented on #25
Hey @FelipeRearden thanks for the suggestion. I wonder how general that applies though, I will give this some thought.

Have you seen the [ quick-explorer plugin](https://github.com/pjeby/quick-explorer)? it enables quick browsing of the vault (or just the current folder) and is keyboard friendly. It might get you pretty close to what you're looking for.

[2021-09-16 13:20] FelipeRearden commented on #25
Hello @darlal !!!

Thanks for your reply and he suggestion about Quick Explorer ! I use Quick Explorer and I like a lot :)
- With QuickSwitcher++ and Quick Explorer I don't have to use the File Explorer Anymore 🙏

The dealbreaker for me in this `New List` is the ability to just select the notes that are not open in the folder.
- Quick Explorer shows all notes from a folder.

My idea:
-> Workspaces

[2021-09-19 20:43] sambody opened #26 "[Feature request] Add quick switch for vaults"
I request an additional functionality: to quickly open (or switch to) a different vault.
Right now, there is a core command (and shortcut possible) to open de vault modal window, but I still need to use the mouse to select the other vault.

One idea: a command `Quick Switcher++: Open in Vaults Mode` - then selecting the vault with arrows/enter.

Another idea: define a specific command to open a sp

[2021-09-21 13:13] darlal commented on #26
Thanks for the ideas. I'm not sure that the necessary APIs are exposed to make this work reliably. I will take a look.

[2021-09-22 21:41] nicolasmarc1 opened #27 "Switch with full text search"
Hello!

I just wanted to know if it was possible to have full text search in open switcher++, basically just having the existing search future in the same kind of palette that your plugin to be able to navigate the results up and down with the keyboard (unlike the current obsidian search in the sidebar) like for instance in Notion or other similar apps.

Thanks a lot!

[2021-09-25 02:14] darlal commented on #27
I believe there is a another plugin which enables content search in a similar way to what you describe. I don't have it installed, but I believe it's this one [Obsidian Ripgrep](https://github.com/dustinknopoff/obsidian-rg). Worth checking it out.

[2021-10-06 09:54] FelipeRearden opened #28 "[Feature Request] Symbol List Mode -> A New Toggle for Block References Links"
Hello again @darlal !!!!

This Feature Request is related to the content of the toggle `LINKS` in the Symbol List Mode.

In Obsidian we have three types of  internal LINKS:
- Internal Links: `[[MyFileName]]`
- Embed Links: `![[MyFileName]]`
- Block Reference Links: `[[MyFileName#^abc1234]]`

In QuickSwitcher++ we have two toggles to show these links in the List View:

![Screen Shot 2021-10-06 at 0

[2021-10-09 18:11] darlal commented on #28
@FelipeRearden are these block reference links pointing to different locations in the same files that contains the link? In other words, are the links "internal" to the same md document? for example `foo.md` contains links to `foo.md#^block_ref` If that's the case then a more general approach could be an option to hide "self-referencing" links.

If they're not self-referencing links, then I wonder

[2021-10-09 19:39] FelipeRearden commented on #28
Hello @darlal !

Thank you so much for taking a time to answer me :)

No, my internal links are pointing to a different note.

Following your example, my note `foo.md` have links to a note  `bar.md` in the format `bar.md#^blockref`

Yes! that's why:

In my opinion that is the role of the block links. They used as pins the map for reading the content of the note. I'm reading this and I know that he

[2021-10-12 10:22] FelipeRearden commented on #28
Hello @darlal,

I had an idea yesterday, maybe it's an easier way to implement this than what we have been talking ... :)

How about using the alias `|alias_name` of a block link `bar.md#^blockid|alias_name` as the criteria to show or hide block links

A field where the user could type (input) the the names of alias to be hidden in the Symbol List Mode.
- maybe something like: `alias_name01;alias_

[2021-10-13 14:29] FelipeRearden commented on #28
Hello @darlal !

100% agree with you @darlal !

Thank you very much for this !!!!!!!!!!!!!!

I wish you a great day!

[2021-11-27 20:25] darlal commented on #15
The custom Headings Mode now allows folder based exclusions as of [this release](https://github.com/darlal/obsidian-switcher-plus/releases/tag/1.0.5). Check it out and I will close out this issue.

[2021-11-27 20:27] darlal commented on #28
@FelipeRearden this feature has been added in the [1.0.5 release](https://github.com/darlal/obsidian-switcher-plus/releases/tag/1.0.5). Check it out, I will close out this issue.

[2021-11-27 22:15] FelipeRearden commented on #28
Hello @darlal !!!!!

Thank you very much for this feature !!!! I'm so happy :)

Working perfect on version `1.0.5` Obsidian `0.12.19`

Thanks !!!!!!!!

Have a great day!!!!!

[2021-11-28 23:37] #27 closed

[2021-11-28 23:37] #28 closed

[2021-11-28 23:38] #15 closed

[2021-12-06 16:03] rapatel0 commented on #15
Technically, his doesn't address the specific issue of filtering from the quickswitcher, but i decided to change the default `CMD-O` toggle to headings mode. That makes this effectively fix the problem.

[2021-12-18 18:46] Guilvareux opened #29 "[Feature Request] Open note in new pane by default"
Hi!

I'm working with the 'sliding panes' plugin at the moment. Would an option to open notes in a new pane by default be an easy addition? It'd be great addition here given I can't seem to find it anywhere else.

Cheers

[2021-12-31 02:08] darlal commented on #29
I believe the builtin switcher allows you to open in new pane while holding CMD/CTRL. It seems that should work on Switcher++ too, but doesn't currently. Is that what you mean, or, do you mean to always open in a new pane all the time no matter what?

[2022-01-02 18:06] Guilvareux commented on #29
Always open a new pane by default was my idea. I'm usually using a few open notes at the same time so it'd just be easier for me to always open a new note and close a few when the times comes.

[2022-01-05 19:53] darlal commented on #29
A global default would work for all the custom modes, but wouldn't work for standard mode. Standard mode operations (like opening a file) are handled by the built-in, system switcher. But this would be a good option to add for the custom modes. Thanks!

[2022-01-19 12:50] Lazbaj opened #32 "[Feature Request] Always respect "Auto-select nearest heading""
Hi,

the "Auto-select nearest heading" setting is valid when using the "Open in Symbol Mode" command.
However, it should also be respected when simply launching "Quick Switcher++: Open" with a keyboard shortcut and just pressing @ to enter in symbol list mode for the current file.

Thanks,
really great stuff here!

[2022-01-22 13:03] darlal commented on #32
Thanks for the report. I think we can get this to work in all cases. I'll add it to the backlog.

[2022-02-07 22:11] navakelvin opened #33 "Allow remove highlight on symbol mode search"
In symbol mode search when you select an item it directs you to the item by highlighting it.

The problem: you might think the Esc key would remove the highlight but no, it remains. It is only removed by clicking somewhere in the editor.

Windows 11.
Obsidian v0.13.23

[2022-02-08 16:51] realliyifei opened #34 "confuse where to use it?"
Should it be used in the switcher and type # then trigger the search of headers? On my side nothing happens.

demo:
<img width="691" alt="image" src="https://user-images.githubusercontent.com/32441766/153035666-f6617f06-7c07-48c3-bc81-a9a7de25624c.png">

setting:
<img width="714" alt="image" src="https://user-images.githubusercontent.com/32441766/153035674-93b43710-1f63-4a4f-89c4-02cda23a3c05.png"

[2022-02-08 20:36] darlal commented on #34
@realliyifei looks like you may still be using the builtin switcher. Once you have the plugin installed and enabled, you have to trigger Switcher++ instead of the regular builtin switcher. You can trigger the Switcher++ by 1) using the command palette, or, 2) using a hotkey

**Using the command palette**

1. Bring up the obsidian command palette
2. Search for `switcher++`
3. Click on any of the `Q

[2022-02-08 20:46] darlal commented on #33
@navakelvin I believe this is standard behavior for the core app overall. Clicking on search results from the search pane, or any mentions from the backlinks pane behave the same way. There seems to be two different behaviors, one for `Reading View` and one for `Editing View`.

**Reading View**
Reading view seems to perform the highlighting, but the highlighting disappears automatically after a fe

[2022-02-08 20:49] realliyifei commented on #34
thanks; i misunderstood it since i thought it expands the functions on the switcher directly

[2022-02-08 20:49] #34 closed

[2022-02-08 20:53] darlal commented on #34
Oh it does. All the functionality that exists in the core switcher works in Switcher++ too. But you still have to trigger it separately. Most people just un-assign the builtin switcher hotkey, and re-assign it to switcher++ you don't lose any functionality.

[2022-02-09 00:09] navakelvin commented on #33
@darlal Thanks, that explains it all.

[2022-02-09 00:50] #33 closed

[2022-02-19 17:49] Signynt opened #35 "[Bug] Can't Open Heading In New Pane"
When searching for a heading, and then trying to open it in a new pane by hitting `Cmd + Enter` nothing happens.

[2022-02-22 01:21] darlal commented on #35
Thanks for the report. The new pane handling of the plugin predates the cmd+Enter paradigm and needs to be reworked. Added to the backlog. Thanks.

[2022-03-04 12:48] FelipeRearden opened #36 "[Feature Request] New Command = Open + Open in Symbol Mode"
Hello @darlal !!!!!!!!!!!!!!!!

MY FR is simple to explain: it's a new command that combines two QS++ commands into one:
- Quick Switcher++ : Open
- Quick Switcher++ : Open in Symbol Mode

Another words: Choose a file to open and after opening the file, automatically bring the Symbol Mode Modal to give us the ability to navigate in the new open file !!!!

## My Workflow

I have a lot of notes that

[2022-03-10 11:31] darlal commented on #36
Hey @FelipeRearden! If I understand your request, you want to be able to open a note, and immediately launch symbol mode to navigate to the right spot within the note. But right now, it's two manual steps:

1. Open the switcher, search/filter for the correct note, then open
2. Open the switcher again (this time in Symbol mode), search/filter for the correct Symbol (heading), then `Enter` to perfor

[2022-03-10 11:49] FelipeRearden commented on #36
Hello @darlal !!!!

Thank you very much for your reply !

Every time that we talk I learn something new :)

What you describe beautifully is exactly what I need !!!!!!!!

Thank you very much ! I didn't know that I could embed Symbol Mode after start my search for a file !!!!!
- this opens a new world for me to explore, thank for explaining to me.

If your references are always grouped under a head

[2022-03-10 11:49] #36 closed

[2022-03-13 09:42] 23727 commented on #35
thank you

[2022-04-03 10:08] chrisgrieser opened #37 "FR: Add class to the Quick Switcher to allow Styling by themes"
I am a theme dev and would like to theme the prompt by this plugin, however the html elements form this plugin use exactly the same classes as the regular quick switcher. Therefore, it is not possible to properly style this plugin without affecting the other prompts. 🙁

<img width="798" alt="Screenshot 2022-04-03 12 06 51" src="https://user-images.githubusercontent.com/73286100/161422432-ea3c0993-

[2022-04-05 01:53] darlal commented on #37
Hey thanks for your interest in styling Switcher++! I actually use your theme! 😀

A main design goal for Switcher++ is to be a "drop in" replacement for the built-in system Switcher. As such, it provides the exact same functionality, and uses the same modal structure as the system switcher, with the extended functionality on top. The common usage is to simply "replace" the system switcher with swi

[2022-04-05 10:22] chrisgrieser commented on #37
😄 💙
(btw, if you update Shimmering Focus, I added some minor styling improvements for QS++ / QS in general in the latest updates.)

I know, but the issue is, right now, the QS++ shares the same css classes as the normal QS. While this is desirable so that Quick Switcher styling carries over to QS++, this makes it impossible to apply different styling for cases where different styling may be desira

[2022-04-05 21:11] darlal commented on #37
Ah ok, the Header icons I can add something to so they can be styled separately since they are part of the "extended functionality" similar to the Symbol icons. I'll get something in there soon. Again, thanks for your work on the theme!

[2022-04-05 21:45] chrisgrieser commented on #37
well, thanks *you* for the plugin 😄

[2022-04-06 16:30] pcause opened #38 "Search for and select a folder"
I want to be able to jump to a folder.  I use File Tree Alternative and want to be able to search for a folder name and jump to the folder.  But I think this could be generally useful.  How about adding  f:foldername or some other leadin to specify that the search is for folders and to jump to the folder when selected.

[2022-04-07 20:13] darlal commented on #38
Thanks for the feature request.

I'll think through and investigate the feasibility of navigating to folders in the file-explorer. I imagine you're thinking along the lines of:

- Reveal the panel if hidden
- Expand the target folder
- Scroll into view

It needs some thought. Thanks for the report.

[2022-04-13 06:56] JeloKuneho opened #39 "[Bug] Can't use Symbol mode in Editor mode when using multi-character triggers"
Multi-character triggers work just fine on their own mode but when trying to trigger two modes (like Editor then Symbol mode), it doesn't work.

Steps to reproduce:

1. Set `Symbol list mode trigger` to `@s`
2. Open quickswitcher++ in editor mode or open quickswitcher++ and type `edt`
3. Enter `@s`

[2022-04-15 01:08] darlal commented on #39
Thanks for the report. I'll look into this.

[2022-04-18 00:45] JeloKuneho opened #40 "FR: Support Hover Editor's "open in new popover" command in quickswitcher++"
Hover Editor has a command to open new notes in a popover (https://github.com/nothingislost/obsidian-hover-editor/releases/tag/0.8.0).

<img width="467" alt="image" src="https://user-images.githubusercontent.com/99579095/163738479-3bdf2c2e-1983-4d53-afdb-e90edced2a6a.png">

When I try the command in quickswitcher++, it just moves the selector up.

[2022-04-18 02:05] darlal commented on #39
Symbol mode is a bit special amongst the other modes in that when triggered it operates on the active (currently selected) suggestion in the chooser drop-down. If there isn't an active suggestion, then it operates on the active opened file (WorkspaceLeaf).

So there's likely something non-obvious happening here, to try and explain let's imagine that the Symbol  Mode trigger was changed to the word

[2022-04-18 02:23] darlal commented on #40
Thanks for the report. Hover Editor is a completely separate plugin from QuickSwitcher++, so it's not surprising that a command from Hover Edit doesn't work in Switcher++.

From what I can tell by quickly looking at Hover Editor, it adds a [monkey-patch](https://github.com/nothingislost/obsidian-hover-editor/blob/master/src/main.ts#L113) to the builtin Switcher and by extension Switcher++. The mon

[2022-04-21 06:04] darlal commented on #32
This issue should be resolved in the [1.0.7](https://github.com/darlal/obsidian-switcher-plus/releases/tag/1.0.7) release.

[2022-04-21 07:58] Peingxious opened #42 "Exclude is NOT working."
I don't know if I don't know how to use it, or what, sometimes it works and sometimes it doesn't work, and I can still find it in the excluded folder.

It can be ruled out at the first time of reload, and useless after re-entry.

[2022-04-21 16:01] FelipeRearden commented on #32
Working perfect on version `1.0.7` on `Symbol Mode` and the operation described in the FR using `QuickSwicther++:Open`

Thank you very much @darlal for one more amazing update :)

[2022-04-24 04:36] #32 closed

[2022-04-24 04:45] darlal commented on #42
One thing to note is that the exclude folder function only applies to `Headings` mode. So if you search for an excluded file in Headings mode you should not find it, but if you search for it in `Standard` mode it may still show up. Obsidian 14.6 (iirc) has support for excluding folders globally. That said, it would be great if you could provide some clear steps that I could use to try and reproduc

[2022-04-24 09:49] Glint-Eye opened #43 "Accessing backlinks of current file"
Hello :). I really love this plugin, as it makes keyboard navigation through your vault so much easier.

I'd have one feature suggestion.

So far i've found no way to interact with backlinks without using the mouse pointer.

It would be great if backlinks could be accessed through quick switcher++ (at least in a capacity to see the file names for backlinked files. unmentioned links would be a grea

[2022-04-24 18:17] darlal commented on #37
@chrisgrieser I've added an additional class to the [headings icon](https://github.com/darlal/obsidian-switcher-plus/blob/master/src/Handlers/headingsHandler.ts#L99) to differentiate it. This should go live with the next release. Thanks!

[2022-04-24 18:21] darlal commented on #43
Thanks, I'm glad you're finding the plugin useful.

Adding forward/backlinks to the switcher is something that I've [considered before](https://github.com/darlal/obsidian-switcher-plus/discussions/21). I wasn't sure if a) it would be useful for folks, b) if only having access to the filenames would be sufficient. Sounds like you feel it would be useful, thanks for the feedback.

[2022-04-25 06:55] Lazbaj commented on #32
It's perfect, thanks!

[2022-04-29 11:05] chrisgrieser opened #44 "FR: Switcher that only displayed files in the current folder"
pretty much what the title says, I think that might be a good fit for the plugin?

Also opening an issue at the repo of another quick Switcher, since It would also fit that plugin (I am using both anyway 😝 ).

[2022-04-29 19:37] darlal commented on #44
Thanks for the feature request. There's a similar request already #25 which I'm planning to work on as soon as time allows. Please upvote that one as well, and I will close this one as duplicate.

[2022-04-29 20:50] chrisgrieser commented on #44
I, missed that one. Thanks, will do!

[2022-04-29 20:50] #44 closed

[2022-04-29 20:54] darlal commented on #44
@chrisgrieser no problem. btw I noticed you had an FR and Templater script to show starred items. This is something that I added recently to this plugin as well in the [1.0.7 release](https://github.com/darlal/obsidian-switcher-plus/releases/tag/1.0.7).

[2022-04-29 20:57] chrisgrieser commented on #44
thanks you 😊

[2022-04-29 21:09] FelipeRearden commented on #44
🙏 🙏 🙏

[2022-05-02 09:24] Jackiexiao opened #45 "[bug] can not find filename `oauth`"
see picture

but when I search `obsidian`, it could find file named obsidian
![image](https://user-images.githubusercontent.com/18050469/166212966-e41a1dc1-ec6e-460f-afac-2eb452210812.png)

[2022-05-04 01:51] darlal commented on #45
A couple questions to help diagnose..

1. Is that file excluded via the Obsidian exclude folders list? `settings->Files & Links->Exclude Files`?
2. Is that file excluded via the Switcher++ exclude folder list? `Switcher++ settings->Headings List Mode->Exclude folders`
3. Is it a markdown file? does it have an H1 containing the word `oauth`? It should fallback to searching the filename as well, but

[2022-05-04 03:36] Jackiexiao commented on #45
thx for your reply!
1. No
2. No
3. It is a markdown file, it does not have an H1 containing the word `oauth`
4. yes, it shows up

[2022-05-05 01:24] darlal commented on #45
Humm.. interesting. More questions:

1. What version of the Switcher++ plugin are you running `Settings->Community plugins->Installed Plugins`? and what version of Obsidian `Settings->About`?
2. The list of result can be scrolled, are you sure that the file doesn't appear anywhere in the result list? As I mentioned, when the fallback to filename is triggered, those matches get down ranked, so it c

[2022-05-05 22:41] Randy-Astle opened #46 "Please add a "Recent Files" mode"
Really like quick switcher plus -- especially the different modes.

There is a Recent Files extension that I've found useful. However, it would be even more convenient if the list of recent files was available via a new quick switcher plus mode. It would be fine to have a dependency on the Recent Files extension being installed before this mode could be used.

[2022-05-06 03:01] Jackiexiao commented on #45
1. `1.0.7` version，obsidian version is `v0.14.9`
2. yes, I am sure that the file doesn't appear anywhere in the result list
3. this file is in `docs/notes/oauth`
4. yes, but not all of them, some files don't show in result list just like `oauth`, but I can't find any relation by myself, it seems this bug occur randomly

testing
1. yes, it shows up in the result list, and no need to restart obsidia

[2022-05-06 06:06] Jackiexiao opened #47 "[FR] filter result by fuzzy search on filename"
for example, I have a lot of file contain `# TODO` heading

![image](https://user-images.githubusercontent.com/18050469/167076045-f19849a9-251a-408f-b4c8-cf57e76488a7.png)

I would like to enter `filename` to quickly find what I actually want (filter result), because there is too many result, up and down key would be inconvenient

[2022-05-06 06:20] Jackiexiao opened #48 "[FR] remnote like search"
ok, I think this maybe too more for this plugin, but I really need a general search like remnote software, it combind `ctrl + O` with `ctrl shift F`, so you can search and jump to anywhere. Of course, filename and title would be first class citizen (should show up first)

it also have `tree` search, for example, you can search filename first and then `tab` to search heading or any content in the f

[2022-05-07 01:31] darlal commented on #45
ah ok, so the file does contain an `h1` header. I'm going to guess that you also have the Headings Mode setting `Show headings only` disabled. This is actually expected behavior.

The way it works current is if you have `Show headings only` disabled **and** the file does **not** contain an `h1` heading, then it will fallback to searching against the filename. The idea being that the `h1` serves as

[2022-05-07 01:37] darlal commented on #46
Glad you find the plugin useful!

Switcher++ does show the list of recent files by default when opened in `headings` mode (with no search/filter text). It's not a separate mode currently, mainly because iirc Obsidian only tracks 10 most recent files at most.

[2022-05-07 01:41] darlal commented on #47
`Standard` mode prioritizes filenames, and works exactly the same as the default system switcher. In your example, if you just delete the `#` sign, so change from `#todo` to just `todo`, that will search against filenames instead. Please let me know if you meant something different here.

[2022-05-07 01:57] darlal commented on #48
Thanks for the feature request.

A general search is beyond the scope of this plugin for the time being. I'm not familiar with remnote, but I think there is an existing plugin that enables search via a quick switcher style interface [obsidian-omnisearch](https://github.com/scambier/obsidian-omnisearch).

For the second part, again I'm not familiar with remnote, but Switcher++ does allow you to "in

[2022-05-07 02:11] Jackiexiao commented on #45
ok, thx for your reply, I think ` fallback to filename search whenever there is zero matches against headings` is great

[2022-05-07 02:17] darlal commented on #35
@Signynt @23727 this is addressed in release [1.0.8](https://github.com/darlal/obsidian-switcher-plus/releases/tag/1.0.8).

[2022-05-07 02:17] #35 closed

[2022-05-07 02:18] darlal commented on #37
And it's live.. release [1.0.8](https://github.com/darlal/obsidian-switcher-plus/releases/tag/1.0.8).

[2022-05-07 02:18] #37 closed

[2022-05-07 02:19] darlal commented on #40
This has been addressed in release [1.0.8](https://github.com/darlal/obsidian-switcher-plus/releases/tag/1.0.8). Thanks.

[2022-05-07 02:19] #40 closed

[2022-05-07 02:30] Jackiexiao commented on #48
wow! [obsidian-omnisearch](https://github.com/scambier/obsidian-omnisearch) and `filename@title` format is great!!

I think remnote's search is combination of `obsidian-omnisearch` and `switcher-plus`, but better, FYI

![image](https://user-images.githubusercontent.com/18050469/167234376-c6e26afc-23da-4fd7-95e8-7d0de9070bc5.png)

![image](https://user-images.githubusercontent.com/18050469/16723436

[2022-05-07 02:32] Jackiexiao commented on #47
I think this issue is duplicate with https://github.com/darlal/obsidian-switcher-plus/issues/48, so I close it.

yes, delete `#` works, but it is a little inconvenient

[2022-05-07 02:32] #47 closed

[2022-05-07 03:06] darlal commented on #48
Awesome! use them together 😄

Thanks for the screenshots. Switcher++ is a work in progress, maybe we'll get there someday 😄 For now, I'm going to close this issue. Thanks!

[2022-05-07 03:06] #48 closed

[2022-05-07 09:33] FelipeRearden commented on #35
Working perfect on version `1.8.0`

Thank you very much @darlal !!!!

[2022-05-07 09:34] FelipeRearden commented on #40
Working perfect on version `1.8.0`

Thank you very much @darlal !!!!

🔑 The hotkey to open in Hover Mode is `CMD/CRTL+P`

[2022-05-07 12:25] darlal commented on #40
humm.. unfortunately, I don't have a windows machine to test this on. What is the default `open in Hover Editor` hotkey **on Windows** in the **Hover Editor** (not QS++) plugin?

[2022-05-07 13:02] FelipeRearden commented on #40
Yeah, I'm MacOS and iPadOS and I use a Windows machine to run some tests (that why I saw) :)

It's CTRL+P as well. When HE is active, the plugin adds this hotkey to the native Quick Switcher

Second Bullet in the Release Notes 🔽

https://github.com/nothingislost/obsidian-hover-editor/releases/tag/0.8.0

---

Maybe is something only on my end. Let's see the feedback from our real Windows user :)

L

[2022-05-07 18:54] darlal commented on #40
Thanks, yea I see what's happening. Hover Editor monkey patches the system switcher and [injects](https://github.com/nothingislost/obsidian-hover-editor/blob/master/src/main.ts#L126) `mod-p` hotkey. QS++ also [registers](https://github.com/darlal/obsidian-switcher-plus/blob/master/src/switcherPlus/keymap.ts#L24) `ctrl-p/n` as those hotkeys are pretty commonly used for navigating up/down in lists.

[2022-05-07 19:08] FelipeRearden commented on #40
I'm glad to know that you found the reason :)

[2022-05-09 14:20] julroger2013 opened #49 "Symbol Mode Indentation: Not Functional with Minimal Theme"
When using the default Obsidian theme, the indented symbol list appears as anticipated when searching in Symbol mode. When using the Minimal Theme, however, the indentation vanishes—all of the headings appear, but are in a flat hierarchy rather than nested.

My apologies for submitting this here, as I realize you might have no ability to address how your plugin engages with a particular theme. But

[2022-05-09 16:16] julroger2013 opened #50 "[Feature Request] Vim-Like Navigation Keys for Switcher Search Results"
It would be helpful to use Vim-like hotkeys—such as J & K—to navigate search results from Quick Switcher ++

[2022-05-09 16:23] julroger2013 opened #51 "[Feature Request] Separate File/Folder Path & File Name for Search Purposes"
The current search results in Quick Switcher ++ show the full path of a particular result.

In my Vault, for instance, today's daily note displays as 01 Inbox/2022/05-May/22.05.09

This can make search results a little hard to read, particularly for those of us who use deeply-nested folders. Would you consider having the file path—

(1) As a feature that can be toggled on or off.
(2) Displayed sep

[2022-05-13 01:33] darlal commented on #49
@julroger2013 I think that theme may be overriding the plugin style for the indentation. The theme probably needed to be updated to take the indenting into account. I personally use the [shimmering-focus](https://github.com/chrisgrieser/shimmering-focus) theme which maintains the indentation of QS++.

One thing you could try is to re-apply the plugin style on top of that theme as a snippet, I have

[2022-05-13 01:35] darlal commented on #50
@julroger2013 Thanks for the feature request! This is straightforward, I'll add it to the backlog. It would need to be cmd/ctrl-j/k since you'd need the actual j/k keys for typing.

[2022-05-13 01:37] darlal commented on #51
@julroger2013 thanks for the feature request! I think Headings mode does this already, except for when it's a file/alias suggestion. A feature toggle can definitely be added for that. Thanks!

[2022-05-13 18:38] julroger2013 commented on #49
That makes sense. And I have submitted an issue on the Minimal Theme re the indentation issue, too.

I tried copying over the entire Quick Switcher ++ styles CSS as a separate snippet, but it had no effect when enabled. Is there some sort of "important" designation that might overcome whatever Minimal Theme attribute is disabling the indentation?

[2022-05-13 18:43] julroger2013 commented on #49
Well it was inelegant of me, but I just added !important in front of (nearly) all the semicolons in the styles CSS—or at least those that seemed to deal with indentation—and it did indeed override whatever Minimal Theme was doing with the indentation. Hopefully it won't cause other issues, but it did solve my indentation mystery.

Thanks for the advice!

[2022-05-14 02:47] darlal commented on #49
That's great! glad you were able to get it working with the workaround for the theme. I don't think it should cause other issues since those styles are pretty specific to the plugin. Just try to remember that you have the override snippet, if you're expecting, but not seeing updated styling in the future 😄

[2022-05-14 02:48] #49 closed

[2022-05-21 22:23] darlal commented on #25
@FelipeRearden this feature is live in [release 1.0.9](https://github.com/darlal/obsidian-switcher-plus/releases/tag/1.0.9). Happy note-taking!

[2022-05-21 22:23] #25 closed

[2022-05-21 22:25] darlal commented on #44
@chrisgrieser this feature is live in [release 1.0.9](https://github.com/darlal/obsidian-switcher-plus/releases/tag/1.0.9). Happy note-taking!

[2022-05-22 16:12] FelipeRearden commented on #25
Thank you very much @darlal !!!!!!!

Working perfect on version `1.0.9` Obsidian `0.14.6`

I just say that I'm really happy to have this new feature :)

Thank you very much @darlal for making my Obsidian dreams came true 🌞 . This is a feature that I really really need !!!!!

You are an Obsidian legend 🥇 !!!!!

[2022-05-31 19:29] esm7 opened #53 "Feature request: sort order"
Hey,
Quick Switcher++ is awesome, there's just one major thing that I'm missing from it: a sort order that can prioritize recently open files and modified time.
For me, and I assume also for most other users, newer and recently-opened notes have a considerably higher chance of being the most relevant match for a given query. The fact Obsidian's internal switcher and Quick Switcher++ ignore this me

[2022-06-01 03:28] chumido98 opened #54 "How can i search attachments file like PDF?"
As title. Can someone help me? The result is only notes.

[2022-06-01 14:40] twio142 opened #55 "[FR] Filter tags globally"
I'd love to have a 'tag mode' which allows to search for any specific tag and then list all notes containing it.

It'd surprise me if no one has asked for this yet... Unless it's already implemented and I just never figured out..?

[2022-06-04 01:13] Randy-Astle commented on #46
Ah... :-)
Didn't realize that.

Thanks.

[2022-06-04 01:18] darlal commented on #54
@chumido98 there are some Obsidian setting that you should ensure are enabled to have PDFs and other file types show up.

**Detect al file extension**
Options->Files & Links->Detect all file extension

**Show all file types and Show attachments**
Options->Quick Switcher (note: _not Quick Switcher++_)->Show all file types
Options->Quick Switcher (note: _not Quick Switcher++_)->Show attachments - th

[2022-06-04 01:21] darlal commented on #55
@twio142 there is another plugin that does have support for tags already, see [Another Quick Switcher](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher).

[2022-06-04 01:23] darlal commented on #53
Thanks for this feature request. I will give it some thought.

[2022-06-04 01:27] #46 closed

[2022-06-04 01:31] chumido98 commented on #54
That helps. Thank you very much.

[2022-06-04 01:31] #54 closed

[2022-06-04 01:57] darlal commented on #29
@Guilvareux this feature is live in release [1.0.10](https://github.com/darlal/obsidian-switcher-plus/releases/tag/1.0.10). Thanks!

[2022-06-04 01:57] #29 closed

[2022-06-04 01:58] darlal commented on #25
@FelipeRearden one minor update, I exposed a setting to exclude files that are already open from the list. This is live in release [1.0.10](https://github.com/darlal/obsidian-switcher-plus/releases/tag/1.0.10). Thanks!

[2022-06-04 01:59] darlal commented on #45
@Jackiexiao this is live in release [1.0.10](https://github.com/darlal/obsidian-switcher-plus/releases/tag/1.0.10). Thanks!

[2022-06-04 01:59] #45 closed

[2022-06-05 02:47] Jackiexiao opened #56 "[Feature Request] always show filename firstly in the search result"
for example, when I search `question`, I want file with name `docs/notes/question` show in the first line of search result, since I use `heading mode search` to replace  obsidian's `quick switch`. filename has more weight than heading

![image](https://user-images.githubusercontent.com/18050469/172032775-8d5861d4-b6d7-4c9c-a1f6-1a57ae4d2793.png)

[2022-06-05 17:15] FelipeRearden commented on #25
Hello @darlal !!!!

Sorry for my late reply :)

The settings checkbox is an spectacular idea !!!!!!! This way every user has a way to work :)

### Feedback from Version `1.0.10`

**Just to see if we are on the same page…**

From my tests on Obsidian 0.14.6, the Exclude open files ALWAYS NOT display files that are already open even when the checkbox is Disabled

In other words ….

Folder 1
-> Note

[2022-06-05 17:29] FelipeRearden opened #57 "[Feature Request] Symbol Mode - Support for Obsidian Callouts"
Hello @darlal  !!!!!

My FR is simple to explain: A new item to the spectacular `Symbol Mode` —> Obsidian Callouts !!!!
- Show Callouts

![A3D42EC9-5670-4A46-BF7B-19A22694E3D1](https://user-images.githubusercontent.com/85180696/172062818-79493260-4dd3-4f7f-b4aa-5d803e63f93e.jpeg)

⚠️ I don’t know if is feasible but would be a great addition to the Symbol Mode :)

## My Idea

If the Callout have Ti

[2022-06-11 18:24] darlal commented on #57
From a quick look, it seems that there is some Callout information in the metadata, so I think this is doable. I'll add it to the backlog. Thanks.

[2022-06-11 18:39] darlal commented on #25
The "source" file is never displayed in the list. That is, the file for which the related items command was triggered is never displayed in the list.

So in your example, `Note B` is the active source file. You want to see the other files related to it, so `Note B` itself is not in the list.

To expand on your example a bit, let's say you also had `Note C` in that same folder. `Note B` is open _an

[2022-06-11 20:28] FelipeRearden commented on #25
Hello @darlal !!!!

You are 1000% right !!!

Forgive me for my poor feedback :)

Now it's crystal clear for me the concept for **Related Items** and the behavior of the checkbox
- it's a clever way to define what will be present in the modal :)

Sorry for the mistake :)

Thanks for you reply and have a great day !!!!

[2022-06-11 20:29] FelipeRearden commented on #57
Thank very much @darlal for considering this FR for the next version in the future !!!!!

Will be amazing to navigate between Callouts :)

Have a great day !!!!!

[2022-06-11 21:23] darlal commented on #25
Your feedback was great, I just wanted to describe in detail the way that it works. I have much bigger plans for related items 😄 so I wanted to get the paradigm right.

[2022-06-11 22:12] FelipeRearden commented on #25
💙 💙 💙

Wooooowww I cant wait to see what you planning for the future. i know that will be amazing 👀 👀 👀 👀 👀 👀 👀 👀

[2022-06-12 18:53] darlal commented on #56
When you search in `Headings` mode, it prioritizes matches against the headings contained in the file. If you instead use `standard` mode, that will prioritize matches against the filenames. Remove the `#` character and that will do what you're asking. This seems to be a duplicate of issue #47 which you also created.

[2022-06-13 02:04] Jackiexiao commented on #56
oh... I totally forget it... thx for your kindly reply. I wonder if we could add a option that `always show filename firstly in the search result` in `heading mode`

this is my use case, I use heading mode as my default and only switcher, I would like to search filename first, if nothing match, then I will look down to find if any heading match my need, `omnisearch` plugin is great(which can searc

[2022-06-20 11:26] darlal commented on #56
Thanks for sharing the details of your workflow, that helps me understand what you're trying to achieve. What you describe is the opposite of how headings mode is designed to work. Headings mode will first search through headings for a file, then if there are no matches, it will fallback to searching the filename.

Here's something you could try to get what you are looking for, set `Quick Switcher

[2022-06-20 11:33] Jackiexiao commented on #56
thx for your reply, but I still want to combined filename & heading mode. maybe I used `remnote` to take notes before, and I really miss remnote's "all in one" search...

maybe I will learn typescript someday and make a PR to implement this feature

[2022-06-20 11:37] darlal commented on #56
PRs are always welcomed! 😄

[2022-06-25 10:47] darlal commented on #50
@julroger2013 this is live in release [1.0.11](https://github.com/darlal/obsidian-switcher-plus/releases/tag/1.0.11). Thanks!

[2022-06-25 10:47] #50 closed

[2022-06-25 10:55] darlal commented on #56
@Jackiexiao release [1.0.11](https://github.com/darlal/obsidian-switcher-plus/releases/tag/1.0.11) has a new option `Search filenames` which when enabled will always show filename match suggestions when in `Headings mode`. This should reduce the friction of having to do the additional keystrokes to switch between filename and headings in your workflow. Thanks!

[2022-06-25 10:55] #56 closed

[2022-06-25 10:58] Jackiexiao commented on #56
thx!!!!!

[2022-06-25 11:15] Jackiexiao commented on #56
it would be better if we could add option to prioritize filename instead heading in search result in heading mode (I know it sound a little weird)

or, a better way to implement this feature is add a option to show heading when there is no filenames found in `Quick Switcher++: Open` (fall back to heading)

but any way, thx for developing this great plugin!

[2022-07-01 23:15] dexx086 opened #59 "[Feature] Show path in editor mode"
Currently in editor mode (with "edt" command) only the note (file) names are shown, but no path is visible.

It's a good idea to focus on the filenames only (lot easier to read), but to me it happens that I have multiple notes with the same name, but in different folders. In such case, I see these note names multiple times as desired, but I cannot decide which note is on which path.

Is it possibl

[2022-07-02 11:38] darlal commented on #59
Hey @dexx086 this feature is live with release [1.0.12](https://github.com/darlal/obsidian-switcher-plus/releases/tag/1.0.12). Editor suggestions will show the file path, and you can control how the path information is formatted in the settings. Thanks.

[2022-07-02 11:38] #59 closed

[2022-07-02 14:50] julroger2013 commented on #51
Your latest release seems to indicate that this feature should now be present (in terms of hiding path, etc.). But I've tried adjusting that toggle to no effect. Perhaps it hasn't been fully rolled out yet—or, more likely, I've just misunderstood what the release notes were saying.

But I thought I'd flag this for you in case things were supposed to be working this way but aren't.

[2022-07-02 14:59] derekvan opened #60 "[Feature Request] Open file in new window"
Would love to be able to pop open a new window with the file selected in switcher plus. Like with the popover option added recently. Thanks! I love this plugin, especially the ability to view headings.

[2022-07-02 15:43] darlal commented on #51
Your feature request hasn't been implemented. The most recent releases addresses a different request, and is a precursor to your request. It's coming soon though. Thanks.

[2022-07-02 15:55] julroger2013 commented on #51
Ahh yes I can see that now. It was for a different search mode.

Thank you for clarifying!

[2022-07-02 19:23] dexx086 commented on #59
@darlal Wow, it was a quick response and implementation! I really like the multiple options and the look! Thanks.
This plugin just got even more awesome :)

One more question though: do you see a valid need for one more option, like "Full path without filename"?

The reason I'm asking is, because with the "edt" mode the filename is already visible (as it was before), and with the "Full path" optio

[2022-07-03 08:01] woshitoutouge commented on #43
+1

[2022-07-03 08:20] woshitoutouge opened #61 "[bug report] Symbol list mode show symbols in the previous file, not current file"
when i open the plugin and press @ in file B, i expected it show headings and links in file B, but it show headings and links in file A (last opened file)
OB version: 0.15.3
quick swither ++ version: 1.0.12
![image](https://user-images.githubusercontent.com/99337435/177031388-9d7d568f-f6d7-477c-a032-4a891852097a.png)

[2022-07-04 11:17] darlal commented on #59
Thanks for the feedback. I can see your point about the filename effectively being displayed twice. I'll give this some thought for future consideration.

Glad you're finding the plugin useful, thanks!

[2022-07-04 11:23] darlal commented on #60
Glad you're finding this plugin useful. I can add a hot key to `open in new window`, similar to the `open in new pane` option that already exists.

[2022-07-04 11:40] darlal commented on #61
Hey @woshitoutouge This is because when the trigger character `@` is typed, it acts upon the suggestion that is currently selected (highlighted) in the result list. As can be seen in the screenshot you posted the suggestion `A heading 2` is selected (highlighted). So this behavior is expected.

To get what I think you are looking for, the symbol list for the active file, there are two options.

1.

[2022-07-04 11:58] woshitoutouge commented on #61
@darlal option 1 works perfect for me! And I totally misunderstand what symbol mode is, and it's more powerful than i thought! 😂 you're very kind, thanks a lot!

[2022-07-04 11:58] #61 closed

[2022-07-05 15:25] frankreporting opened #62 ""Only parent folder" option not working"
I'm not sure I understand what this new option is supposed to do. No matter which option I select, the suggester shows the files exactly the same: full path. I tried "only parent folder" thinking it would be like `folder/filename` even if, say, that file is 3 folders deep. Instead, every option displays files the same way: `folder-level-1/folder-level-2/filename` etc.

Maybe I'm just misunderstand

[2022-07-07 01:44] darlal commented on #62
Hi @frankreporting, the `Preferred file path display format` option only applies to the customs modes: `editor`, `headings`, and `starred`. It does not apply to the default, Obsidian built-in `standard` mode. Here's a screenshot of what `Parent folder & filename` in `headings` mode should look like. Please let me know if the setting is not having an effect on the custom modes. Thanks.

![image](ht

[2022-07-07 01:46] frankreporting commented on #62
Oh that makes sense! Do you have plans to support the feature in standard mode? I love that cleaner display!

[2022-07-07 01:51] darlal commented on #62
Switcher++ is designed to be a "drop-in" replacement for the build-in system switcher, it tries really hard to not modify the build-in system functionality, so probably not. However, if you are really interested in filename searches, `headings` mode does have an option to also show filename suggestions alongside the heading suggestions - and those, I am planning to apply this option to as well.

[2022-07-07 02:21] #62 closed

[2022-07-07 21:28] dexx086 commented on #59
@darlal Thank you! You're awesome. I don't have insider access for v0.15, when it gets publicly accessible, I'll try it, but I'm sure the new option will work great :)

[2022-07-10 07:25] rdoering commented on #55
@twio142 thanks
Unfortunately, I have to switch, now.

[2022-07-10 14:31] darlal commented on #60
Hey @derekvan this feature is live in [release 2.0.2](https://github.com/darlal/obsidian-switcher-plus/releases/tag/2.0.2). Note that this requires Obsidian version `0.15.5`. Thanks!

[2022-07-10 14:31] #60 closed

[2022-07-10 19:02] derekvan commented on #60
@darlal that's great! Thanks so much. I've updated (15.5 and 2.0.2) and restarted obsidian, but I don't see the option for opening in a new window ...
<img width="700" alt="Screen Shot 2022-07-10 at 3 02 27 PM" src="https://user-images.githubusercontent.com/890341/178158442-c870b4dd-d4fa-4813-bdd1-28e7141dd368.png">

[2022-07-10 19:24] darlal commented on #60
It should show up for the custom modes (`headings`, `editor`, `related items`, `starred`, `symbol`) of the switcher. Here's how it should look for headings modes for example. Let me know if you're still having issues. Thanks

![image](https://user-images.githubusercontent.com/5191776/178159111-1b87d3ac-0358-48e2-beb7-1f33b3cc00d2.png)

[2022-07-11 12:38] derekvan commented on #60
ok, great I see it now. Is there a design reason to prevent it from working in the main mode? Or maybe because I have `CMD-O` bound to quick switcher plus already it won't take? The `CMD-O` shortcut does work fine for me in the custom modes.

[2022-07-12 01:29] darlal commented on #60
SwitcherPlus is designed to be a "drop-in" replacement for system, built-in switcher, as such, it tries really hard to not modify the system functionality as a principle. If you want file suggestions, check out the [Search filenames](https://github.com/darlal/obsidian-switcher-plus#search-headings-configuration) setting that will show file suggestions alongside the heading suggestions.

[2022-07-12 21:00] An-qi-Zhang opened #63 "[Feature Request] Open in New Window."
Obsidian just updated the pop-out window function. It would be great to open a note in a new window, with ctrl+alt+enter, for example.

[2022-07-13 01:27] darlal commented on #63
This is already live in [release 2.0.2](https://github.com/darlal/obsidian-switcher-plus/releases/tag/2.0.2). `cmd+o` to open in new window for the custom modes (`headings`, `editor`, `related items`, `starred`, `symbol`) of the switcher. SwitcherPlus is designed to be a "drop-in" replacement for system, built-in switcher, as such, it tries really hard to not modify the system functionality as a p

[2022-07-13 01:27] #63 closed

[2022-07-13 23:50] darlal commented on #55
You can actually use both at the same time, many people do. They don't conflict with each other.

[2022-07-13 23:51] #55 closed

[2022-07-14 22:21] dexx086 commented on #59
@darlal Thanks again, it's working beautifully :)

[2022-07-17 14:43] darlal commented on #51
As of [release 2.0.3](https://github.com/darlal/obsidian-switcher-plus/releases/tag/2.0.3) the filename/path rendering should be separated in all custom modes where it makes sense `editor`, `headings`, `related items` and `starred`. Thanks!

[2022-07-17 14:43] #51 closed

[2022-07-18 11:24] huyz commented on #10
Same here.  I have lots of notes whose title includes email addresses or twitter handles.

[2022-07-20 02:53] julroger2013 commented on #51
This is wonderful, and is exactly what I was thinking of.

Could I suggest adding this option (perhaps with a toggle, perhaps not—whichever you think is best!) for the ordinary Quick Switcher mode, too?

The way that the "Quick Switcher ++: Open" command handles aliases right now is exactly what I'm thinking of. It shows just the alias on top, followed by the entire path below. It would make sense

[2022-07-24 00:28] Jackiexiao opened #64 "[bug] update obsidian to v0.15.8, shift+enter not working"
obsidian: v0.15.8
quick switcher++: 2.0.3

shift + enter doesn't create new note

[2022-07-24 16:19] darlal commented on #64
Shift+enter to create a new note is expected to work in `standard` mode. Please let me know if you are seeing issues with this in standard mode.

In custom modes, this is not expected to work as such feature was never implemented. It raises some interesting questions around what the defined behavior should even be in the custom modes. Related to this is the fact that plugins like Templater, and Qu

[2022-07-24 22:45] Jackiexiao commented on #64
yes, `standard` mode (`Quick Switcher++: Open`) works fine

here is my use case, you need to follow the steps to reproduce the bug, I use `Quick Switcher++: Open in headings mode`, I search
![image](https://user-images.githubusercontent.com/18050469/180668723-bfaac436-3c05-49f1-9a73-395cd463d72a.png)

So I delete `#` to switch to "standard mode"
![image](https://user-images.githubusercontent.com/1

[2022-07-28 02:52] pjeby opened #65 "Opening an existing editor mode does not activate the window"
When selecting an editor that is open in another window, Obsidian remains focused on the window where the dialog was opened.

(This is because setActiveLeaf must be called with a true `focus` parameter if you want to activate the window as well as the leaf.)

[2022-07-28 23:47] darlal commented on #65
Thanks for the report. Definitely a bug, will look to get this fixed.

[2022-07-28 23:48] darlal commented on #64
Thanks for the additional details to help reproduce, I will look into this. Thanks!

[2022-07-30 12:12] darlal commented on #65
@pjeby this should be fixed in [release 2.0.4](https://github.com/darlal/obsidian-switcher-plus/releases/tag/2.0.4). Thanks!

[2022-07-30 12:12] #65 closed

[2022-07-30 16:12] darlal commented on #64
There's definitely a bug here, We'll get this fixed up in the next release. Thanks!

[2022-07-30 17:03] pjeby commented on #65
Thanks.  By the way, you don't need to do all those getMostRecentLeaf calls to get the active leaf: `getActiveViewOfType(View).leaf` is an officially ok alternative.

[2022-07-30 17:33] darlal commented on #65
Thanks for the tip! I did look at that api, but if I remember correctly `getActiveViewOfType` requires an a view argument, so you would have to know upfront the type of view that you're looking for. For my usecase I don't have that information upfront. In essence, I just need to know what is the current leaf that has focus across all splits, regardless of view type.

[2022-07-30 17:58] pjeby commented on #65
No, I mean *literally* ask for a view of type `View` - all views are subclasses of `View` so you will *always* get the current view that way.

[2022-07-31 13:03] darlal commented on #65
You're right, it does work. Thanks!

[2022-08-01 09:22] PaulWen commented on #43
+1

Would love to have this type of navigation too :)

[2022-08-02 01:24] hungquoc1410 opened #66 "Plugin not working"
The plugin isn't doing what it is supposed to do.
I opened Quick Switcher++ in Symbol mode and nothing shows up. The same for other modes.
<img width="1440" alt="Screen Shot 2022-08-02 at 8 23 48 AM" src="https://user-images.githubusercontent.com/87603881/182271775-45d02a76-29e5-4c1e-9a8f-458083fe1c0c.png">

[2022-08-04 01:07] darlal commented on #66
Hey @hungquoc1410 Happy to help you get this working.

1. What version of Obsidian are you running?
2. What version of the plugin do you have installed?

It's a bit difficult to gather much from the screenshot as it just looks like the default system switcher. Try this:

1. Open a note in the main editor panel, just like you have in your screenshot
2. Open the Obsidian `Command Palette`, note that

[2022-08-04 15:57] hungquoc1410 commented on #66
Hey @darlal
I did what you asked and it didn't work.
FYI, I am using Obsidian v0.15.9 and I installed version 2.0.4 of the Quick Switcher Plus plugin.
I tried uninstall and install both Obsidian and the plugin but it didn't help.
The plugin was running smoothly before, I don't why it didn't this time.

[2022-08-05 01:07] darlal commented on #66
That is really, really odd. The plugin wouldn't just stop working on it's own, unless something changed.

- Which step didn't work?
- Where you able to open the `Command Palette`?
- With the Command Palette open, where you able to filter to just the `Quick Switcher++: Open in Editor Mode` command?
- If so, what happened once you activated that command?

Another thing to try: See if the plugin is b

[2022-08-05 01:19] hungquoc1410 commented on #66
I was able to open the `Comman Pallete`, filter to just `Quick Switcher++: Open in Editor Mode`. Once I activated it, it came up as shown below.

<img width="1440" alt="Screen Shot 2022-08-05 at 8 18 13 AM" src="https://user-images.githubusercontent.com/87603881/182981221-40ff8bb9-8661-4494-adce-5a6f9ca64ff9.png">
![Screen Shot 2022-08-05 at 8 18 13 AM (2)](https://user-images.githubusercontent.co

[2022-08-05 01:37] darlal commented on #66
Thanks. So it looks like the plugin is being loaded - which is good. Your second screenshot is again showing the builtin switcher.

Separately, open the dev tools window, and run through the first set of steps to open in Editor mode again please. I would expect to see some messages logged to the console. Please post a screenshot of the full console.

[2022-08-05 01:44] hungquoc1410 commented on #66
Is this what you are looking for?

<img width="1440" alt="Screen Shot 2022-08-05 at 8 43 49 AM" src="https://user-images.githubusercontent.com/87603881/182983782-7c9443af-f48f-4eb7-88ff-5f4170162469.png">

[2022-08-05 02:09] darlal commented on #66
Yes, thank you. This gives us something to work with, I'll look into this. Thanks.

[2022-08-05 02:09] hungquoc1410 commented on #66
Glad I can help.

[2022-08-06 01:53] darlal opened #67 "Option to create file when there are no results in heading mode"
When search text leads to no results in `headings` mode, there should be an option to create a new file, just like in standard mode. The name of the file should be the search string, not including the mode trigger character. This should only create the file, and not attempt to add any content such as front matter, or heading information in the file.

[2022-08-06 02:00] darlal commented on #66
@hungquoc1410 this issue should be fixed in the new [2.0.5 release](https://github.com/darlal/obsidian-switcher-plus/releases/tag/2.0.5). Please upgrade to get the fix, thanks!

[2022-08-06 02:00] #66 closed

[2022-08-06 02:01] darlal commented on #64
@Jackiexiao the bug part of this issue should be fixed in the new [2.0.5 release](https://github.com/darlal/obsidian-switcher-plus/releases/tag/2.0.5). Please upgrade to get the fix.

I've created issue #67 to track the new feature request. Thanks!

[2022-08-06 02:01] #64 closed

[2022-08-06 10:45] #42 closed

[2022-08-12 10:09] woshitoutouge opened #68 "[bug report] Auto-select nearest heading not working well if there are too many headings"
symbol mode, if there are too many headings in one file, then the auto-select nearest heading function don't work well (picture 2)

<img width="963" alt="1" src="https://user-images.githubusercontent.com/99337435/184333307-0158a3df-9f42-4952-9dc1-6bab5bda56eb.png">

<img width="971" alt="2" src="https://user-images.githubusercontent.com/99337435/184333257-c7d37375-e705-4a93-800a-59b3cf90765b.png">

[2022-08-13 18:26] darlal commented on #68
Thanks for the report. We'll check this out.

[2022-08-20 23:46] darlal commented on #57
Hey @FelipeRearden  this feature is live in release [2.0.6](https://github.com/darlal/obsidian-switcher-plus/releases/tag/2.0.6), note this requires Obsidian version `0.15.9`

[2022-08-20 23:46] #57 closed

[2022-08-21 08:11] woshitoutouge commented on #68
I updated the plugin and it's working great! Thanks a lot!

[2022-08-21 08:11] #68 closed

[2022-08-21 11:12] FelipeRearden commented on #57
Working perfect on version 2.0.6 on Obsidian 15.9 and Obsidian Mobile 1.3.1

I really liked that you keep the color of the border of Callout in the modal 💙

Thank you very much @darlal !!!!!

[2022-08-21 18:38] darlal commented on #49
@depressiveRobot I think the trick has two parts, 1) re-apply the QSP++ styles as a snippet on top of the Minimal Theme, and 2) add the !important directive.

[2022-08-21 23:59] Randy-Astle opened #69 "Cycle through note list with TAB and SHIFT + TAB"
It would be very useful if the user could cycle forwards and backwards through the note list with TAB and SHIFT + TAB, respectively.

Randy

[2022-08-22 22:00] Randy-Astle commented on #10
A nice feature of Quick Switcher++ is the ability to change the mode triggers. And the triggers can be more than one character.

For example, I modified all mode triggers to be a single character followed by a space. The leading character / trailing space combination is unlikely to be part of a string that I want to search for -- hasn't been yet, anyway.
Also changed the 'edt' trigger to '- ' (no

[2022-08-23 00:47] huyz commented on #10
I'm guessing that doesn't help with `@` triggering from anywhere in the search string

[2022-08-24 13:57] Randy-Astle commented on #10
I haven't tested it since I don't have a use case for @s in a search string. (I'm also not sure why an @ embedded in the string would trigger a mode -- my understanding is that only the first character or characters are used to trigger the mode).

However, it may fix it if you are using an `@ ` (@ followed by space) character pair -- if I understand correctly, in the embedded @ scenario, the @ wil

[2022-08-24 15:26] huyz commented on #10
@Randy-Astle you're right, that worked. Thanks!

[2022-08-30 18:36] Cammagno opened #70 "FR: show the mode characters"
It would be useful if the modal windows will show the characters for the different modes, as it shows ctrl+o, ctrl+p and ctrl+enter

[2022-08-31 08:48] KGZaker opened #71 "Input @ couldn't display symbols in the currently opened file"
Hi, thanks for providing such a great plugin. Quick Switcher++ really helps me a lot in my daily use. However, something went wierd recently.
That is if I activate the Quick Swithcer++ and input "@", it couldn't display the Headings, Tags, Links, Embeds in the currently opened file. Like the screenshot below, these headings are not from the file I opened.
<img width="701" alt="image" src="https://

[2022-08-31 19:49] lukaszlew opened #72 "Pressing hotkey twice could switch the file to the last one."
If my 'open' hotkey is CTRL-o then pressing 'CTRL-o CTRL-o' (without enter) could switch the file to the last one open.
This is similar to `cd -` command in Linux (switches to last directory).
This is the default behavior in VSCode (on CTRL-p) and it is useful to be consistent to reuse popular habits.

Note: pressing CTRL-o three or more time before releasing CTRL (which replaces enter) switches t

[2022-09-02 11:25] darlal commented on #71
Hey @KGZaker  This is because when the trigger character `@` is typed, it acts upon the suggestion that is currently selected (highlighted) in the result list. As can be seen in the first screenshot you posted, the symbols displayed are from the suggestion file that was highlighted when you typed `@`. This is expected behavior.

To get the symbol list for the active file, there are two options.

1

[2022-09-02 11:25] #71 closed

[2022-09-02 15:53] darlal commented on #72
Thank for the feature request!

[2022-09-02 15:58] darlal commented on #69
Thanks for the feature request. Currently there are several other options for navigation, using the arrow keys, ctrl-n/p, as well as ctrl-j/k.

[2022-09-02 16:02] lukaszlew commented on #72
Can you explain how ctrl-n/p, and ctrl-j/k are related?

[2022-09-03 14:53] darlal commented on #72
Sure, if I understand your request, you'd like to be able to navigate the recent files list using a key chord that consists solely of the initial trigger hotkey. So in your example ctrl-o to trigger the list then o/shift-o to navigate next/previous and select on release.

Today, when you trigger `Quick Switcher++: Open in Headings Mode` with a hotkey, it initially displays the recent files list, w

[2022-09-10 08:48] KGZaker commented on #71
Thanks @darlal , now I get it😀.

[2022-09-10 12:27] yutaizhou commented on #62
Hi! I would just like to bump the OP's feature request.

I use the plugin almost exclusively in standard mode, and my project folders often have deep nesting, with files often having overlapping substring in their names. (e.g. "Meeting Project1", "Meeting Project2", folder file with same name as the folder, etc). This just isn't visually pleasing if my search query is only "meeting". In this case,

[2022-09-10 13:31] darlal commented on #62
Hey @yutaizhou first, thank you for putting in the extra effort to find this exiting (Closed) issue, instead of just blindly creating a brand new duplicate issue. I really appreciate it 🙂

Question: have you considered/tried using `headings` mode with the [Search filenames](https://github.com/darlal/obsidian-switcher-plus#search-headings-configuration)  setting enabled? This setting will allow you

[2022-09-11 13:51] yutaizhou commented on #62
Hi @darlal, I understand that pain of duplicate issues all too well to inflict it upon another haha!

As for your suggestion, it actually works great! Only downside is that it's not as snappy as standard mode (i.e. suggestions don't update with each new character I type), which is really a fundamental limit of searching for all headings.

I guess the only way to overcome that is to disable searchi

[2022-09-11 18:24] lukaszlew commented on #72
Currently to select second last recent file:
- press shift
- press O
- release O
- release shift
- press arrow down
- press enter

In the proposal to select second last recent file:
- Press shift
- press O
- press O
- Release shift

Which is a default in vscode and sublime text I think and very alluring when you start using it quickly.

So yes, I think you got it :)

[2022-09-21 05:09] julroger2013 opened #73 "FR: Use first alias in place of file name"
For someone who uses certain filenaming conventions, such as Zettelkasten IDs, the resulting filenames might be lengthy, hard to read, and hard to search for. Aliases can be a good workaround, allowing someone to add a more easily-searchable name in addtion to the more complex filename.

Would you consider adding a toggle to Switcher ++ that would substitute the first alias for a note's file name

[2022-09-24 18:42] darlal commented on #73
Hey @julroger2013 thanks for the feature request.

 If I understand correctly, this request is to enable the first Alias defined in the file frontmatter to be used as a filename substitute in search and display operations across the various switcher++ modes - effectively turning the first alias into the "Title" for the file. Have you considered using the first H1 heading contained in the file as t

[2022-09-24 18:57] darlal commented on #71
Hey @depressiveRobot thanks for the comment. What you're describing is a somewhat different use-case than this main thread, a reasonable though. Effectively you want to be able to trigger symbol mode for the active file when on mobile without a keyboard attached.

Disabling the current behavior would leave no mechanism to perform symbol searches for files that are not currently open **and** active

[2022-09-24 19:11] darlal commented on #62
@yutaizhou I'm glad the alternative is working for now. I'll give this some thought, it has come up several times already since the new path display format feature was introduced. Thanks!

[2022-09-25 22:33] julroger2013 commented on #73
Yes, what you've described—substituting a file's first alias in place of the filename in all Switcher++ modes & searches—is exactly what I was thinking of.

I don't have a strong reason to prefer first alias over first H1 header, although my convention hasn't been to use the H1 that way, so it would require some re-configuring on my part (which I'd be fine with doing, to be clear!).

One very weak

[2022-09-25 22:34] julroger2013 commented on #73
Seriously, Switcher ++ is terrific and I can't thank you enough for making it.

[2022-10-03 14:56] Kamuish opened #74 "Autocomplete filepaths"
Is there any way to autocomplete the filepaths with a given hotkey?

For example, something similar to what was requested in  the official forums:

[2022-10-06 00:46] simudevo opened #75 "Create Settings Toggle for hidePathIfRoot"
Because I noticed the headings view wouldn't list the title of a note if it was in root, I delved into the code to find a way to have notes that were in the vault's root folder have their path shown. I discovered the `hidePathIfRoot` option in the code. I simply changed its value from true to false in the static `defaults()` function to get the behavior I wanted. I think it should be given a setti

[2022-10-07 17:01] danrthompson opened #76 "Feature request: Recent commands"
Hey! Thanks SO much for this plugin. It is absolutely awesome and I really appreciate that you've generously donated your time to make something really cool for everyone :).

I was trying out the other alternative command palette today and basically I can say with certainty this your plugin reigns supreme!

That said, there was ONE really awesome feature with the other palette (the plugin is calle

[2022-10-08 10:39] darlal commented on #74
@Kamuish Thanks for the feature request. I'll take a look at that post.

[2022-10-08 10:52] darlal commented on #75
@simudevo thanks for the feedback.

The settings values get serialized to `data.json` file in the plugin directory. So you can just change it there in the mean time and not have to maintain a separate patch/build (if that's what you are doing) until a setting is added in the preference pane.

[2022-10-08 11:05] darlal commented on #75
This would be a pretty straight forward PR if you or anyone else 🙂 want to contribute.

A new toggle setting would needs to be added to [generalSettingsTabSection.ts](https://github.com/darlal/obsidian-switcher-plus/blob/master/src/settings/generalSettingsTabSection.ts) pointing to the `hidePathIfRoot` setting. Add/update some test like in [generalSettingsTabSection.test.ts](https://github.com/dar

[2022-10-08 11:22] darlal commented on #76
Hey @danrthompson glad you're finding Switcher++ useful. Thanks for the feature request, I'll add it to the backlog.

[2022-10-09 13:46] Randy-Astle opened #77 "Default to open in new tab switch doesn't work for me in either mobile or desktop"
Either there is something I don't understand or have configured correctly, or... there is a bug. :-O

On both desktop (Windows) and mobile (Android), I have "Default to open in a new tab" switch enabled. In both environments, when I find a note, and select it, it always opens in the active tab.

[2022-10-14 16:13] Gewerd-Strauss commented on #77
I am already unhappy about the update because tabs don't really work well imo -  I'd rather use splitpane maximise a view, but that isn't really an option now, but I guess I will adapt somehow. However, I would greatly appreciate this to be fixed, as it would alleviate a lot of the friction I am all of a sudden dealing with.

[2022-10-15 02:02] darlal commented on #77
Sorry it seems to be misbehaving. Let's try to figure out what is going on. @Randy-Astle it would be helpful if you could provide the exact steps that you are taking that results in that behavior.

1. Open the developer console while running through your steps. Any errors that happen should be logged to the console. Please report back if you see any errors
2. What mode is Switcher++ in when it doe

[2022-10-15 13:15] Randy-Astle commented on #77
Attached is an image of how I have Quick Switcher configured.

Note that all the mode triggers are the character followed by a space.

My steps:
1. Open Quick Switcher++ with my keyboard shortcut (CTRL + O)
2. Type the search terms
3. Either click on the note entry or select it and press enter
4. In both cases, the contents of the currently active tab are replaced with the selected note

Interesti

[2022-10-15 14:02] Randy-Astle commented on #77
I reinstalled Obsidian to see if that would eliminate the 16 errors when I opened the Developer Console.

Now there is only one error (image attached). However, notes still replace the contents of the current tab when selected in Quick Switcher++.

Randy

![Errors after reinstalling](https://user-images.githubusercontent.com/1444205/195990611-71d1f738-5aa3-4c09-b823-3d753d21a341.png)

[2022-10-15 15:13] darlal commented on #77
So those errors are not related to Switcher++ at all. It looks like the sources of those errors are:

1. obsidian-vault-statistics-plugin - this looks like the source of most of the errors. You should consider reporting those to the plugin author
2. Obsidian sync - this looks like normal obsidian sync errors when you go offline
3. obsidian-file-heading-sync - some errors from this plugin as well

[2022-10-15 15:48] Gewerd-Strauss commented on #77
I can confirm that the steps

will resolve this issue. Hence, I will be remapping
Regarding the mapping, I personally don't really see the need for a standard mode which mirrors obsidian's build-in by artificially restricting the plugins capabilities. If that were the case, users can either
- just not use this plugin and keep the default one
- or assign a hotkey to the native switcher

Either way,

[2022-10-15 23:56] Randy-Astle commented on #77
Interesting...

If I use one of the modes (in my case, triggered it with the characters) the note I select opens in a new tab.

I like standard mode when I search for files (my most common use case). I also like the modal searches -- specific scenarios that are sometimes exactly what I want. However, I assumed that standard mode for Quick Switcher++ still supported any other applicable configurati

[2022-10-16 10:33] darlal commented on #77
@Gewerd-Strauss Switcher++ does not re-implement this functionality, it "inherits" it for free™ from the system switcher. It was an explicit design choice, thinking was you'd get best of both worlds, custom functionality and all system feature that exist today **and in the future**. Switcher++ has evolved to become more feature rich and now could serve as a full replacement.

@Randy-Astle `Heading

[2022-10-16 13:41] Randy-Astle commented on #77
Thanks!
This has been a good discussion -- it helped clarify my understanding of how Quick Switcher++ works.

FYI: I'm going to disable the default open in new tab switch. I'll just use the appropriate keyboard chords to open the note where I want it opened (consistent with the Obsidian's design).

Randy

[2022-10-16 20:06] darlal commented on #77
Glad it was helpful!

[2022-10-16 20:06] #77 closed

[2022-10-25 00:46] darlal commented on #43
This is live in [release 2.2.0](https://github.com/darlal/obsidian-switcher-plus#related-items).

[2022-10-25 00:46] #43 closed

[2022-10-30 13:57] darlal commented on #67
@Jackiexiao this is live in [release 2.2.1](https://github.com/darlal/obsidian-switcher-plus/releases/tag/2.2.1).

[2022-10-30 13:57] #67 closed

[2022-11-01 21:09] tonyxiao opened #79 "Creating new note option should always exist if no exact match for note name found"
I wanted to create a note called `Evergreen`, but it was alas not possible.

![CleanShot 2022-11-01 at 22 08 42@2x](https://user-images.githubusercontent.com/696842/199341959-85e621d6-30b7-41f3-83f9-4d848b8dd059.png)

[2022-11-01 21:25] tonyxiao opened #80 "Dataview query support"
I have a dataview like this

[code]

I'd love to be able to bind a switcher plus command to it to allow me to quickly open any projects defined by the dataview query.

[2022-11-03 11:24] tonyxiao commented on #79
For others in future, there is a workaround using keyboard shortcut `Shift+Enter` will always create the exact note.
![CleanShot 2022-11-03 at 12 24 17@2x](https://user-images.githubusercontent.com/696842/199708884-c600a164-48c7-4ee4-84cd-f65b204f1600.png)

[2022-11-03 13:00] tonyxiao opened #81 "Feature request: Search for tags"
The tag pane doesn't have the ability to filter for tags based on keywords. It would be amazing if switcher plus had a way to let me filter for tags based on keywords!

[2022-11-10 02:57] darlal commented on #79
@tonyxiao glad you go it figured out. This is the way it is designed to work, and matches the Obsidian system switcher. Thanks!

[2022-11-10 02:57] #79 closed, assigned to nobody

[2022-11-12 05:24] ParkJaeSeong opened #82 "Add Link in editing memo"
Thanks for making a great plugin. It's always been great to use when exploring notes. It's a good replacement for the quick switcher plugin.

I propose to develop one function. When searching for a note, it would be nice to have a function to directly enter a link into the memo currently being edited (together with a shortcut key).

[[memoname]]
[[memoname#heading]]

[2022-11-12 10:01] tonyxiao commented on #81
For those looking I found an alternative that works for this scenario. https://github.com/AlexBieg/obsidian-better-command-palette#file-searching-using-tags

[2022-11-12 10:06] tonyxiao opened #83 "[BUG] Symbol mode shows outdated data"
The behavior differs between invoking the `open in symbol mode` command directly vs. the `Open` command and then manually typing `@` symbol to invoke the symbol mode. Directly `open in symbol mode` seems to be slightly more reliable, but both approaches appear to show outdated data at some point in time.

<img style="max-width:300px;" src="https://cdn.loom.com/sessions/thumbnails/a91ca2bd5d644f0ba

[2022-11-12 14:02] darlal commented on #81
There's also another pluglin called [Another Quick Switcher](https://github.com/tadashi-aikawa/obsidian-another-quick-switcher) that also provides tag search functionality.

All three of these plugins can be installed and used at the same time. So you can mix and match for specific functionality that you care about for all your quick switching needs.

[2022-11-12 14:02] #81 closed

[2022-11-12 14:03] darlal commented on #83
Thanks for the report. I will look into this.

[2022-11-12 14:04] darlal commented on #82
Thanks for the feature request.

[2022-11-12 21:28] julroger2013 opened #84 "Possible Bug: Ctrl + P Doesn't Open Popover in Windows"
I use both a Windows machine and a MacBook with Obsidian. When using Switcher ++, the search box modal (regardless of mode - editor, standard, etc) indicates at the bottom that cmd + P (Mac) or ctrl + P (Windows) should open a popover view of the currently selected search result.

On the MacBook, this functions exactly as I would expect, opening a hover editor instance. But on Windows it instead s

[2022-11-13 15:44] darlal commented on #84
Hey @julroger2013 `ctrl+p` and `ctrl+n` are well established shortcuts for navigating previous/next in lists, Switcher++ [supports](https://github.com/darlal/obsidian-switcher-plus/blob/master/src/switcherPlus/switcherPlusKeymap.ts#L131) this convention, and registers those shortcuts.

Hover Editor [registers the shortcuts](https://github.com/nothingislost/obsidian-hover-editor/blob/master/src/mai

[2022-11-13 15:53] julroger2013 commented on #84
Oh that's very interest, and makes total sense. So the text-based prompt (e.g. esc to dismiss) at the bottom of the Switcher ++ Modal is not displaying shortcuts you designated specifically for Switcher ++?

<img width="703" alt="image" src="https://user-images.githubusercontent.com/94991208/201530823-3aa89121-44cd-4b07-9013-c8b6194909db.png">

I'll put an issue in the Hover Editor repo. Thank you

[2022-11-13 16:48] fncll opened #85 "Ability to search YAML metadata"
It would be awesome to be able to limit a search to YAML metadata in some way. Not sure if this is possible or not! Thanks in advance for your consideration.

[2022-11-13 19:52] darlal commented on #84
The text-based prompt instructions at the bottom of the switcher (and custom key bindings) can come from a variety of sources. There are ones that I design specifically for Switcher++ like `cmd+o` to open in new window, there are some built in Obsidian ones like `cmd+enter` to open in new tab, and other plugins can "inject" their own custom functionality as well like HoverPopup with `cmd+p` to ope

[2022-11-13 19:59] darlal commented on #80
Hey @tonyxiao that's an interesting idea, kind of like an interactive, filtering frontend for Dataview. It's probably out of scope for Switcher++ for the time being. I would definitely recommend proposing the idea to the Dataview authors - or maybe even as a separate Dataview focused plugin. Thanks for sharing, I like the idea!

[2022-11-13 21:31] darlal commented on #60
Note: the Tab navigation shortcuts should work in `Standard` mode with [release 2.3.1](https://github.com/darlal/obsidian-switcher-plus/releases/tag/2.3.1) even though they are not listed in the prompt instructions yet.

[2022-11-13 21:34] darlal commented on #77
Note: with [release 2.3.0](https://github.com/darlal/obsidian-switcher-plus/releases/tag/2.3.0) the custom functionality is now supported in `Standard` mode too.

[2022-11-13 21:37] darlal commented on #62
@yutaizhou @frankreporting FYI.. with [release 2.3.0](https://github.com/darlal/obsidian-switcher-plus/releases/tag/2.3.0) the custom functionality is now supported in `Standard` mode too.

[2022-11-14 03:52] frankreporting commented on #62
I saw that! Thanks for incorporating that suggestion!

[2022-11-14 10:03] KraXen72 opened #86 "please add option to remove text-decoration"
i do not like the text decoration on recent and open files, it is visual clutter
i could remove it with css but i would rather it be a plugin setting. thanks.

[2022-11-14 15:28] julroger2013 commented on #84
You're awesome. Just, really awesome. Thank you for explaining.

[2022-11-17 14:45] yutaizhou commented on #62
That's awesome! Glad to have the speed of standard mode back in my default search :D

[2022-11-20 12:40] #84 closed

[2022-11-20 12:42] #80 closed

[2022-11-20 12:52] darlal commented on #85
Hey @fncll could you describe a bit more about what you are thinking here, and what you'd like to be able to do?

[2022-11-21 00:42] darlal commented on #76
@danrthompson this is live as of [release 2.3.2](https://github.com/darlal/obsidian-switcher-plus/releases/tag/2.3.2), thanks!

[2022-11-21 00:42] #76 closed

[2022-11-24 02:18] zcysxy opened #87 "[FR] Add Outgoing Links to Related Items"
Searching Related Items is a killer feature! Now it can search backlinks; it would be better if it can also search outgoing links. Then it can serve as a way to search in the local graph.

[2022-11-24 13:57] darlal commented on #87
Adding outgoing links was always part of the plan, coming soon. Thanks!

[2022-11-27 19:02] terheyden opened #88 "[FR] Consider all title aliases to be H1"
Doing a heading search doesn't consider file title aliases at all:
[code]
So in this example, if I search for `#alt` it would be awesome if the alias got considered.

[2022-11-27 19:11] terheyden opened #89 "[FR] Headings meta search"
Consider a note like this:
[code]
Currently I can search for:
* `#github`
* `#merge request`

But not:
* `#github merge request` (because this doesn't match a _single_ heading)

IMHO being able to combine words in the title with words in other headings to narrow the focus down, would be an amazing feature. I really wouldn't care _where_ in the final file I ended up jumping to, it would be amazing

[2022-11-29 03:11] darlal commented on #87
Hey @zcysxy this feature is live with [release 2.3.3](https://github.com/darlal/obsidian-switcher-plus/releases/tag/2.3.3). Thanks!

[2022-11-29 03:11] #87 closed

[2022-11-29 05:07] zcysxy commented on #87
Thank you so much!

[2022-11-30 11:49] Elaws opened #90 "Can't search notes that begin with "+""
# Problem description

Following [Bryan Jenks workflow](https://youtube.com/watch?v=wB89lJs5A3s), some of my notes begin by the symbol "+" to indicate a note type. Using Obsidian quick switcher, I could quickly filter these notes by beginning my query with the "+" symbol.

This is not possible in Quick switcher plus because "+" is reserved to a special search.

# Possible solution

Is it possible

[2022-11-30 17:01] guntern commented on #26
I also really like the idea of a smooth quick switching between vaults. I would suggest something like the Ctrl+R method of VS Code to switch workspaces there. Beside having the possibility to select the other vault with up and down, one could start typing the name of the vault to be opened. This way the hands could stay at the keyboard ready for further writing.